{% extends '_base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="mt-4 container-fluid">
    <div class="card mt-5">
        <div class="card-header">
            <h3 class="card-title">User Profile</h3>
        </div>
        <div class="card-body p-4">
            <h1>{{ user.username }}</h1>
            <p class="bg-primary badge badge-primary">Joined on {{ user.date_joined }}</p><hr>
            <a class="btn btn-sm btn-info" href="{% url 'socialaccount_connections' %}"><i class="fa-brands fa-discord"></i> <i class="fa-brands fa-google"></i> Add Connections</a>
            <h2 class="mt-4">Posts</h2>
            <p>Here are the last five posts by {{ user.username }}</p>
            <ul class="list-group-none">
                <!-- Let's only do the last five posts -->
                {% if user.post_set.count > 5 %}
                    {% for post in user.post_set.all|slice:":5" %}
                    <li class="list-group-item ">
                        <a href="{% url 'post' post.id %}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                {% else %}
                    {% for post in user.post_set.all %}
                    <li class="list-group-item ">
                        <a href="{% url 'post' post.id %}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <h2 class="mt-4">Players</h2>
            <p>Here are the players that {{ user.username }} has created</p>
            <ul class="list-style-none">
                {% for player in user.player_set.all %}
                <div class="ms-2 me-auto">
                    <a href="{% url 'player_page' player.id %}">{{ player.first_name }} {{ player.last_name }}</a>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}