<style>
    input[type="radio"] {
        margin: 0 10px 0 1px;
    }
    input::placeholder {
        color: gray!important;
    }
    .select2-container--default .select2-selection {
        background-color: #333;
        border: 1px solid #333;
        border-radius: 0.25rem;
        color: black;
    }
    .select2-results__option {
        background-color: #333;
        color: white;
    }
    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: #444;
    }
    .select2-container--default .select2-results__option--selected {
        background-color: #333
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: white;
    }
    .select2-search--dropdown .select2-search__field {
        color: white;
        background-color: #333;
    }
    .select2-dropdown {
        background-color: #333;
        border: 1px solid #333;
    }
</style>