{% extends '_base.html' %}
{% load static %}

{% block title %}Bulk Pay{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form id="auto-collections-form" class="p-4 rounded shadow-sm">
            {% csrf_token %}
            <div class="card-body">
                <h5 class="card-title mb-3">Auto Collections Form</h5>
                <!-- auto collections button (make it take up 25% on medium screens and above) -->
                <div id="auto-collections-status" class="mb-3">
                    <button type="submit" class="btn btn-info btn-sm" hx-trigger="click throttle:1s" hx-target="#auto-collections-status" hx-swap="innerHTML" hx-post="{% url 'pay_auto_collections' %}"><i class="fas fa-coins"></i> Auto Collections</button>
                </div>
            </div>
        </form>
        <form id="pay-users-form" class="p-4 rounded shadow-sm">
            {% csrf_token %}
            <div class="card-body">
                <h5 class="card-title mb-3">Bulk Payments Form</h5>
        
                <div class="mb-3">
                    <label for="pay-list" class="form-label">Select players to pay</label>
                    <select id="pay-list" class="js-multiple-select form-select" name="pay-list" multiple="multiple">
                        {% for player in players %}
                            <option value="{{ player.id }}">{{ player.first_name }} {{ player.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
        
                <div class="mb-3">
                    <label for="pay-amount" class="form-label">Payment Amount</label>
                    <input type="number" id="pay-amount" name="pay-amount" class="form-control" placeholder="Choose amount" required />
                </div>
        
                <div class="mb-3">
                    <label for="pay-currency" class="form-label">Currency</label>
                    <select id="pay-currency" name="pay-currency" class="form-select" required>
                        <option value="SP" selected>Skill Points</option>
                        <option value="XP">Experience Points</option>
                    </select>
                </div>
        
                <div class="mb-3">
                    <label for="pay-reason" class="form-label">Payment Reason</label>
                    <input type="text" id="pay-reason" name="pay-reason" class="form-control" placeholder="Enter payment reason..." required />
                </div>
        
                <div class="mb-3">
                    <label for="pay-type" class="form-label">Type of Payment</label>
                    <select id="pay-type" name="pay-type" class="form-select" required>
                        <option value="add" selected>Add</option>
                        <option value="take">Take</option>
                    </select>
                </div>
        
                <div class="form-check mb-3">
                    <input type="checkbox" id="include-xp-equivalent" name="include-xp-equivalent" class="form-check-input">
                    <label for="include-xp-equivalent" class="form-check-label">Pay XP Equivalent</label>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-info btn-sm" hx-trigger="click throttle:1s" hx-target="#pay-users-form" hx-swap="innerHTML" hx-post="{% url 'pay_user' 0 'bulk' %}"><i class="fas fa-coins"></i> Pay Users</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
{% include 'stafftools/fragments/select2_scripts.html' %}
{% endblock %}

{% block styles %}
{% include 'stafftools/fragments/select2_styles.html' %}
{% endblock %}