{% extends '_base.html' %}
{% load static %}

{% block title %}Bulk Assign Team{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Bulk Pay</h1>
        <form id="bulk-assign-teams-form" class="p-4 rounded shadow-sm">
            {% csrf_token %}
            <div class="card-body">
                <h5 class="card-title mb-3">Assign Team Form</h5>
        
                <div class="mb-3">
                    <label for="assign-list" class="form-label">Select players to pay</label>
                    <select id="assign-list" class="js-multiple-select form-select" name="assign-list" multiple="multiple">
                        {% for player in players %}
                            <option value="{{ player.id }}">{{ player.first_name }} {{ player.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
        
                <div class="mb-3">
                    <label for="assign-team" class="form-label">Select team to assign players to</label>
                    <select id="assign-team" class="js-multiple-select form-select" name="assign-team">
                        {% for team in teams %}
                            <option value="{{ team.id }}">{{ team.city }} {{ team.name }}</option>
                        {% endfor %}
                    </select>
                </div>
        
                <div class="form-check mb-3">
                    <input type="checkbox" id="clear-existing-members" name="clear-existing-members" class="form-check-input">
                    <label for="clear-existing-members" class="form-check-label">Clear Existing Members</label>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-info btn-sm" hx-trigger="click throttle:1s" hx-target="#bulk-assign-teams-form" hx-swap="innerHTML" hx-post="{% url 'bulk_assign_team' %}"><i class="fas fa-person"></i> Bulk Assign Teams</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('.js-multiple-select').select2({
            allowClear: true,
            closeOnSelect: true,
            placeholder: 'Select players to pay',
        });
    });
</script>
{% endblock %}

{% block styles %}
<style>
    input[type="radio"] {
        margin: 0 10px 0 1px;
    }
    input::placeholder {
        color: gray!important;
    }
    .select2-container--default .select2-selection {
        background-color: #333;
        border: 1px solid #333;
        border-radius: 0.25rem;
        color: black;
    }
    .select2-results__option {
        background-color: #333;
        color: white;
    }
    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: #444;
    }
    .select2-container--default .select2-results__option--selected {
        background-color: #333
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: white;
    }
    .select2-search--dropdown .select2-search__field {
        color: white;
        background-color: #333;
    }
    .select2-dropdown {
        background-color: #333;
        border: 1px solid #333;
    }

</style>
{% endblock %}