{% extends '_base.html' %}
{% load static %}

{% block title %}Payment Requests{% endblock %}

{% block content %}
    <div class="container mx-auto p-4 bg-base-200 rounded-lg shadow">
        <div id="process-requests-form">
            {% csrf_token %}
            <h1 class="text-2xl font-semibold mb-6">Payment Requests Form</h1>
            <form>
                <button type="submit" class="btn btn-success w-full mb-6" hx-trigger="click throttle:1s" hx-target="#process-requests-form" hx-swap="innerHTML" hx-post="{% url 'payment_requests' %}">
                    <i class="fas fa-money-bill"></i> Process Requests
                </button>
                {% csrf_token %}

                {% for request in open_requests %}
                <div id="request-{{ request.id }}" name="request-{{ request.id }}" class="bg-base-100 rounded-lg shadow-md mb-4">
                    <input type="hidden" name="request-id" value="{{ request.id }}">
                    <div class="p-4">
                        <h2 class="text-xl font-semibold">({{ request.player.user.username }}) {{ request.player.first_name }} {{ request.player.last_name }}</h2>
                        <p>Date: {{ request.date }}</p>

                        <div class="mt-4 space-y-3">
                            <label for="sp-{{ request.id }}" class="block font-medium">SP</label>
                            <input type="number" id="sp-{{ request.id }}" name="sp-{{ request.id }}" value="{{ request.sp_amount }}" class="input input-bordered w-full">
                            
                            <label for="xp-{{ request.id }}" class="block font-medium">XP</label>
                            <input type="number" id="xp-{{ request.id }}" name="xp-{{ request.id }}" value="{{ request.xp_amount }}" class="input input-bordered w-full">
                            
                            <label for="reason-{{ request.id }}" class="block font-medium">Reason</label>
                            <textarea id="reason-{{ request.id }}" name="reason-{{ request.id }}" class="textarea textarea-bordered w-full" rows="3">{{ request.reason }}</textarea>
                        </div>

                        <div class="collapse collapse-arrow mt-4 bg-base-200">
                            <input type="checkbox" id="process-accordion-{{ request.id }}" />
                            <label for="process-accordion-{{ request.id }}" class="collapse-title font-medium">
                                Processing Options
                            </label>
                            <div class="collapse-content">
                                <div class="form-control">
                                    <label class="cursor-pointer flex items-center space-x-2">
                                        <input type="checkbox" value="on" id="delete-{{ request.id }}" name="delete-{{ request.id }}" class="checkbox checkbox-sm checkbox-error">
                                        <span class="label-text">Delete</span>
                                    </label>
                                </div>
                                <div class="form-control mt-2">
                                    <label class="cursor-pointer flex items-center space-x-2">
                                        <input type="checkbox" value="on" id="process-{{ request.id }}" name="process-{{ request.id }}" class="checkbox checkbox-sm checkbox-success">
                                        <span class="label-text">Process</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}