{% extends '_base.html' %}
{% load static %}

{% block title %}Offer Contracts{% endblock %}

{% block content %}

    {% comment %} Contract agreements {% endcomment %}
    <div class="container mx-auto p-4">
        <div class="bg-base-200 p-6 rounded-lg shadow-md">
            <h1 class="text-2xl font-bold mb-4">Team Contract Agreements</h1>
            
            {% if offers_sent %}
                <div class="overflow-x-auto">
                    <table class="table table-zebra w-full">
                        <thead>
                            <tr>
                                <th>Player</th>
                                <th>Confirmation Time</th>
                                <th>Time Left</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for offer in offers_sent %}
                            {% if offer.verbally_agreed %}
                                <tr>
                                    <td class="font-semibold">{{ offer.player }}</td>
                                    <td>{{ offer.confirmation_time|default:"No confirmation time set" }}</td>
                                    <td>
                                        {% if offer.confirmation_time %}
                                            <span class="contract-countdown text-lg font-extrabold text-accent" data-time="{{ offer.confirmation_time.isoformat }}"></span>
                                        {% else %}
                                            <span class="text-warning">N/A</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="text-warning">No contracts have been verbally agreed upon.</p>
            {% endif %}
        </div>
    </div>

    {% comment %} Team offers {% endcomment %}
    <div class="container mx-auto p-4">
        <div class="bg-base-200 p-6 rounded-lg shadow-md">
            <form>
                {% csrf_token %}
                {% comment %} Status and title {% endcomment %}
                <h2 class="text-xl font-bold mb-4">View Offers</h2>
                {% comment %} Offer options {% endcomment %}
                <div class="flex flex-col sm:flex-row gap-2 sm:gap-4 items-start mb-4">
                    <a href="{% url 'offer_contracts' %}" 
                    class="btn btn-xs btn-primary w-48">
                        Offer More Contracts
                    </a>
                    <button hx-post="{% url 'htmx_withdraw_offers' 'return_team' %}" hx-trigger="click" hx-target="#offers-table" hx-swap="innerHTML"
                    class="btn btn-xs btn-error w-48">
                        Withdraw Selected Offers
                    </button>
                </div>
                {% comment %} Offer table {% endcomment %}
                <div class="overflow-x-auto w-full mb-4" id="offers-table" name="offers-table">
                    {% include 'stafftools/fragments/offers_table.html' %}
                </div>
            </form>
            {% comment %} Team who offered the contracts {% endcomment %}
            <small><span class="font-semibold">{{ team }}</span> offered contracts to {{ offers_sent.count }} players.</small>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% comment %} Dynamically counts confirmation times down {% endcomment %}
{% include 'stafftools/fragments/update_countdowns.html' %}

{% endblock %}