<h4>Cart</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price (SP)</th>
            <th>Price (XP)</th>
            <th>Start</th>
            <th>New</th>
        </tr>
    </thead>
    <tbody>
        {% if cart.attributes or cart.badges or cart.tendencies %}
            {% for attribute, data in cart.attributes.items %}
            <tr>
                <td>{{ attribute }}</td>
                <td>{{ data.price }}</td>
                <td>0</td>
                <td>{{ data.start }}</td>
                <td>{{ data.new }}</td>
            </tr>
            {% endfor %}
            {% for badge, data in cart.badges.items %}
            <tr>
                <td>{{ badge }}</td>
                <td>{{ data.price }}</td>
                <td>0</td>
                <td>{{ data.start }}</td>
                <td>{{ data.new }}</td>
            </tr>
            {% endfor %}
            {% for tendency, data in cart.tendencies.items %}
            <tr>
                <td>{{ tendency }}</td>
                <td>0</td>
                <td>{{ data.price }}</td>
                <td>{{ data.start }}</td>
                <td>{{ data.new }}</td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td>Example Item</td>
            <td>100</td>
            <td>0</td>
            <td>55</td>
            <td>60</td>
        {% endif %}
    </tbody>
    <tfoot>
        <tr>
            <td>Total SP</td>
            <td><i class="fa-solid fa-coins"> {{ cart.total_sp }}</td>
        </tr>
        <tr>
            <td>Total XP</td>
            <td><i class="fa-solid fa-coins"> {{ cart.total_xp }}</td>
        </tr>
    </tfoot>
</table>
