{% if players %}
    <div class="overflow-x-auto">
        <table class="table w-full text-neutral-content">
            <thead>
                <tr>
                    <th><i class="fa-solid fa-star"></i> Purchase</th>
                    <th><i class="fa-solid fa-gear"></i> Modification</th>
                    <th><i class="fa-solid fa-clock"></i> Multi Buy</th>
                    <th><i class="fa-solid fa-star"></i> XP Price</th>
                    <th><i class="fa-solid fa-star"></i> w/ Discount</th>
                </tr>
            </thead>
            <tbody>
                <form>
                    {% csrf_token %}
                    {% for mod in modifications %}
                        <tr>
                            <td>
                                <label for="modal-{{ mod.id }}" class="btn btn-sm bg-success text-white cursor-pointer">
                                    Purchase
                                </label>
                            </td>
                            <td>{{ mod.item }}</td>
                            <td>{{ mod.multi_buy }}</td>
                            <td>{{ mod.xp_price }}</td>
                            <td>{{ mod.xp_price_with_discount }}</td>
                        </tr>

                        <!-- Modal -->
                        <input type="checkbox" id="modal-{{ mod.id }}" class="modal-toggle">
                        <div class="modal">
                            <div class="modal-box">
                                <h3 class="font-bold text-lg">Confirm Purchase</h3>
                                <p class="py-4">Are you sure you want to purchase "{{ mod.item }}"?</p>
                                <div class="modal-action">
                                    <label for="modal-{{ mod.id }}" class="btn btn-error text-white">Cancel</label>
                                    <button type="button" class="btn btn-info text-white"
                                            hx-post="{% url 'purchase_modification' mod.id %}" 
                                            hx-trigger="click throttle:5s" 
                                            hx-target="#status" 
                                            hx-swap="innerHTML">
                                        Confirm
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </tbody>
        </table>
    </div>
{% endif %}
