<div class="table-responsive">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <!-- Modification, XP Price, Expires -->
                <th><i class="fa-solid fa-star"></i> Purchase</th>
                <th><i class="fa-solid fa-gear"></i> Modification</th>
                <th><i class="fa-solid fa-clock"></i> Expired</th>
                <th><i class="fa-solid fa-star"></i> XP Price</th>
            </tr>
        </thead>
        <tbody class="table table-dark table-hover">
            {% for mod in modifications %}
                <tr>
                    <td><a type="button" class="text-underline" data-bs-toggle="modal" data-bs-target="#purchase-modal-{{ mod.id }}">Purchase</button></a>
                    <td>{{ mod.item }}</td>
                    <td>{{ mod.expired }}</td>
                    <td>{{ mod.xp_price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </div>
</div>

<!-- Purchase Modals -->
{% for mod in modifications %}
<div class="modal fade" id="purchase-modal-{{ mod.id }}" tabindex="-1" aria-labelledby="purchase-modal-{{ mod.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="purchase-modal-{{ mod.id }}">Purchase {{ mod.item }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to purchase {{ mod.item }} for {{ mod.xp_price }} XP?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal" hx-post="{% url 'purchase_modification' mod.id %}" hx-trigger="click throttle:1s" hx-target="#status" hx-swap="innerHTML">Purchase</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
