{% extends '_base.html' %}
{% load style_filters %}

{% block title %}{{ team.name }}{% endblock %}

{% block content %}
<div class="container mx-auto p-4">

    {% comment %} Back to teams page {% endcomment %}
    <a href="{% url 'team_list' %}" class="btn btn-info btn-sm mb-2"><i class="fa-solid fa-arrow-left"></i> Back to Teams</a>

    {% comment %} Team Page {% endcomment %}
    <div class="mt-4">
        <h1 class="text-3xl font-bold" style="color: {{ team.color }};">{{ team.name|upper }}</h1>
        <p class="text-lg font-semibold">{{ team.city|upper }}</p>

        <!-- Salary Book -->
        <div class="card bg-base-100 shadow-lg my-4 rounded-lg">
            <div class="card-body">
                <h5 class="card-title text-2xl font-semibold mb-4">Salary Book</h5>
                <div class="flex items-center justify-between">
                    <div class="flex items-center">
                        <span class="text-lg font-semibold">Total Spent: </span>
                        <span class="ml-2 text-xl font-bold" style="color: {{ salary_book.total_spent|percentage:1200 }}%;">{{ salary_book.total_spent }} / 1200</span>
                    </div>
                    <div class="text-sm">
                        <span class="font-semibold">Remaining Budget: </span>
                        <span class="font-semibold text-green-500">{{ salary_book.total_spent }}</span> SP
                    </div>
                </div>
            </div>
        </div>


        <!-- Roster Table -->
        <div id="roster">
            <h2 class="text-2xl font-bold">Roster</h2>
            <div class="overflow-x-auto">
                <table class="table table-compact w-full mt-4">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Salary</th>
                            <th>Claimed</th>
                            <th>Player</th>
                            <th>Rating</th>
                            <th>Team</th>
                            <th>Position</th>
                            <th>Height</th>
                            <th>Weight</th>
                            <th>Wingspan</th>
                            <th>SP Spent</th>
                            <th>XP Spent</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in team.player_set.all %}
                        <tr>
                            <td>
                                {% if player.stashed %}
                                    <span class="badge badge-error">Stashed</span>
                                {% elif player.rookie %}
                                    <span class="badge badge-success">Rookie</span>
                                {% else %}
                                    <span class="badge badge-info">Active</span>
                                {% endif %}
                            </td>
                            <td>
                                {% comment %} Open contract modal button {% endcomment %}
                                <label for="#contractModal_{{ player.id }}" class="btn btn-circle btn-outline">
                                    {{ player.contract.year_1_payment }}
                                </label>
                            </td>
                            {% if current_week|stringify not in player.contract.weeks_paid %}
                                <td>No</td>
                            {% else %}
                                <td>Yes</td>
                            {% endif %}
                            <td><a href="{% url 'player_page' player.id %}" class="text-underline">{{ player.first_name }} {{ player.last_name }}</a></td>
                            <td>{{ player.sim_rating }}</td>
                            <td>{{ player.team }}</td>
                            <td>{{ player.position }}</td>
                            <td>{{ player.height_imperial }}</td>
                            <td>{{ player.weight }}</td>
                            <td>{{ player.wingspan }}/100</td>
                            <td>{{ player.sp_spent }} SP</td>
                            <td>{{ player.xp_spent }} XP</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Player Averages Table -->
        <h6 class="text-xl font-bold mt-6">Player Averages</h6>
        <div class="overflow-x-auto">
            <table class="table table-compact w-full mt-4">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>GP</th>
                        <th>PPG</th>
                        <th>RPG</th>
                        <th>APG</th>
                        <th>SPG</th>
                        <th>BPG</th>
                        <th>TOV</th>
                        <th>FG%</th>
                        <th>3P%</th>
                        <th>FT%</th>
                        <th>ORPG</th>
                        <th>DRPG</th>
                        <th>FPG</th>
                        <th>+/-</th>
                        <th>PRF</th>
                        <th>DPG</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player, season_stats in team_stats.player_season_stats.items %}
                    {% if season_stats.games_played > 0 %}
                    <tr>
                        <td>{{ player.first_name }} {{ player.last_name }}</td>
                        <td>{{ season_stats.games_played }}</td>
                        <td>{{ season_stats.average_points }}</td>
                        <td>{{ season_stats.average_rebounds }}</td>
                        <td>{{ season_stats.average_assists }}</td>
                        <td>{{ season_stats.average_steals }}</td>
                        <td>{{ season_stats.average_blocks }}</td>
                        <td>{{ season_stats.average_turnovers }}</td>
                        <td>{{ season_stats.average_field_goal_percentage }}</td>
                        <td>{{ season_stats.average_three_point_percentage }}</td>
                        <td>{{ season_stats.average_free_throw_percentage }}</td>
                        <td>{{ season_stats.average_offensive_rebounds }}</td>
                        <td>{{ season_stats.average_defensive_rebounds }}</td>
                        <td>{{ season_stats.average_personal_fouls }}</td>
                        <td>{{ season_stats.average_plus_minus }}</td>
                        <td>{{ season_stats.average_points_responsible_for }}</td>
                        <td>{{ season_stats.average_dunks }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Player Totals Table -->
        <h6 class="text-xl font-bold mt-6">Player Totals</h6>
        <div class="overflow-x-auto">
            <table class="table table-compact w-full mt-4">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Points</th>
                        <th>Rebounds</th>
                        <th>Assists</th>
                        <th>Steals</th>
                        <th>Blocks</th>
                        <th>Turnovers</th>
                        <th>FGM</th>
                        <th>FGA</th>
                        <th>3PM</th>
                        <th>3PA</th>
                        <th>FTM</th>
                        <th>FTA</th>
                        <th>OREB</th>
                        <th>DREB</th>
                        <th>PF</th>
                        <th>+/-</th>
                        <th>PRF</th>
                        <th>DNK</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player, season_stats in team_stats.player_season_stats.items %}
                    <tr>
                        <td>{{ player.first_name }} {{ player.last_name }}</td>
                        <td>{{ season_stats.points }}</td>
                        <td>{{ season_stats.rebounds }}</td>
                        <td>{{ season_stats.assists }}</td>
                        <td>{{ season_stats.steals }}</td>
                        <td>{{ season_stats.blocks }}</td>
                        <td>{{ season_stats.turnovers }}</td>
                        <td>{{ season_stats.field_goals_made }}</td>
                        <td>{{ season_stats.field_goals_attempted }}</td>
                        <td>{{ season_stats.three_pointers_made }}</td>
                        <td>{{ season_stats.three_pointers_attempted }}</td>
                        <td>{{ season_stats.free_throws_made }}</td>
                        <td>{{ season_stats.free_throws_attempted }}</td>
                        <td>{{ season_stats.offensive_rebounds }}</td>
                        <td>{{ season_stats.defensive_rebounds }}</td>
                        <td>{{ season_stats.personal_fouls }}</td>
                        <td>{{ season_stats.plus_minus }}</td>
                        <td>{{ season_stats.points_responsible_for }}</td>
                        <td>{{ season_stats.dunks }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
    {% for player in team.player_set.all %}
        <input type="checkbox" id="#contractModal_{{ player.id }}" class="modal-toggle">
        <div class="modal">
            <div class="modal-box p-6 max-w-lg mx-auto rounded-lg shadow-xl">
                <div class="text-left mb-6">
                    <h3 class="text-xl font-bold text-white">{{ player.first_name }} {{ player.last_name }}'s Contract</h3>
                </div>
                
                {% if player.contract %}
                    <div class="space-y-6">
                        <!-- Year 1 -->
                        <div class="flex items-center justify-between p-4 rounded-lg shadow-inner">
                            <div class="flex-shrink-0">
                                <span class="badge badge-success font-bold">Season {{ player.contract.season }}</span>
                            </div>
                            <div class="flex-grow text-left text-yellow-400 ml-2">
                                <i class="fas fa-coins"></i> 
                                <span class="font-semibold">{{ player.contract.year_1_payment }}</span>
                            </div>
                        </div>
            
                        <!-- Year 2 -->
                        {% if player.contract.length > 1 %}
                            <div class="flex items-center justify-between p-4 rounded-lg shadow-inner">
                                <div class="flex-shrink-0">
                                    <span class="badge badge-success font-bold">Season {{ player.contract.season|add:"1" }}</span>
                                </div>
                                <div class="flex-grow text-left text-yellow-400 ml-2">
                                    <i class="fas fa-coins mr-2"></i> 
                                    <span class="font-semibold">{{ player.contract.year_2_payment }}</span>
                                </div>
                            </div>
                        {% elif player.contract.length == 1 %}
                            <div class="flex items-center justify-between p-4 rounded-lg shadow-inner">
                                <div class="flex-shrink-0">
                                    <span class="badge badge-success font-bold">Season {{ player.contract.season|add:"1" }}</span>
                                </div>
                                <div class="flex-grow text-left">
                                    {% if player.contract.option == "None" %}
                                        <i class="fas fa-user text-red-400 ml-2"></i> Free Agent
                                    {% else %}
                                        <i class="fa-solid fa-comment text-green-400 ml-2"></i> {{ player.contract.option }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
            
                        <!-- Year 3 -->
                        {% if player.contract.length > 2 %}
                            <div class="flex items-center justify-between p-4 rounded-lg shadow-inner">
                                <div class="flex-shrink-0">
                                    <span class="badge badge-success font-bold">Season {{ player.contract.season|add:"2" }}</span>
                                </div>
                                <div class="flex-grow text-left text-yellow-400">
                                    <i class="fas fa-coins ml-2"></i> 
                                    <span class="font-semibold">{{ player.contract.year_3_payment }}</span>
                                </div>
                            </div>
                        {% elif player.contract.length == 2 %}
                            <div class="flex items-center justify-between p-4 rounded-lg shadow-inner">
                                <div class="flex-shrink-0">
                                    <span class="badge badge-success font-bold">Season {{ player.contract.season|add:"2" }}</span>
                                </div>
                                <div class="flex-grow text-left">
                                    {% if player.contract.option == "None" %}
                                        <i class="fas fa-user text-red-400 ml-2"></i> Free Agent
                                    {% else %}
                                        <i class="fa-solid fa-comment text-green-400 ml-2"></i> {{ player.contract.option }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    <p class="text-left text-gray-400">No contract information available.</p>
                {% endif %}
            
                <!-- Modal Action -->
                <div class="flex justify-center mt-6">
                    <label for="#contractModal_{{ player.id }}" class="btn btn-danger w-full md:w-auto flex items-center justify-center gap-2">
                        <i class="fa-solid fa-x"></i> Close
                    </label>
                </div>
            </div>
            
        </div>
    {% endfor %}
{% endblock modals %}