{% extends '_base.html' %}
{% load style_filters %}

{% block title %}{{ team.name }}{% endblock %}


{% block content %}
<div class="container-fluid p-4">
    <a href="{% url 'team_list' %}" class="btn btn-sm btn-info"><i class="fa-solid fa-arrow-left"></i> Back to Teams</a>
    <a href="{% url 'roster_move' team.id %}" class="btn btn-sm btn-info"><i class="fa-solid fa-user-plus"></i> Make Roster Move</a>

    <div class="mt-4">

        <h1 style="color: {{ team.color }};">{{ team.name|upper }}</h1>
        <p class="fw-bold">{{ team.city|upper }}</p>

        <div class="card bg-dark text-white">
            <div class="card-body">
                <h5 class="card-title">Salary Book</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group list-group-item">
                        <div>
                            <div class="border-rounded border border-light p-1" style="height: 35px; width: 30%;">
                                <div class="progress bg-dark" style="height: 100%; width: 100%;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: {{ salary_book.total_spent|percentage:1200 }}%;" aria-valuenow="{{ salary_book.total_spent }}" aria-valuemin="0" aria-valuemax="1200"><span class="fw-bold">{{ salary_book.total_spent }}/1200</span></div>
                                </div>
                            </div>
                        <div>
                    </li>
                </ul>                    
            </div>
        </div>

        <hr>
        <div id="roster">
            <h2>Roster</h2>
            <!-- player table -->
            <div class="table-responsive">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th><i class="fas fa-coins"></i> Salary</th>
                            <th><i class="fa-solid fa-piggy-bank"></i> Claimed</th>
                            <th><i class="fas fa-user"></i> Player</th>
                            <th><i class="fas fa-star"></i> Rating</th>
                            <th><i class="fas fa-basketball-ball"></i> Team</th>
                            <th><i class="fas fa-user-tag"></i> Position</th>
                            <th><i class="fas fa-ruler-vertical"></i> Height</th>
                            <th><i class="fas fa-weight"></i> Weight</th>
                            <th><i class="fas fa-person-military-pointing"></i> Wingspan</th>
                            <th><i class="fas fa-coins"></i> SP Spent</th>
                            <th><i class="fas fa-star-half-stroke"></i> XP Spent</th>
                        </tr>
                    </thead>
                    <tbody class="table table-dark table-hover">
                        {% for player in team.player_set.all %}
                        {% if player.anomaly %}
                            <tr class="table-info fw-bold">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td>{{ player.contract.year_1_payment }}</td>
                            {% if current_week|stringify not in player.contract.weeks_paid %}
                                <td>No</td>
                            {% else %}
                                <td>Yes</td>
                            {% endif %}
                            {% if player.user.is_staff %}
                                <td><i class="fa-solid fa-lock"></i> <a style="height: 100%; width: 100%;" href="{% url 'player_page' player.id %}">{{ player.first_name }} {{ player.last_name }}</a></td>
                            {% else %}
                                <td><a style="height: 100%; width: 100%;" href="{% url 'player_page' player.id %}">{{ player.first_name }} {{ player.last_name }}</a></td>
                            {% endif %}
                            <td>{{ player.sim_rating }}</td>
                            <td>{{ player.team }}</td>
                            <td>{{ player.position }}</td>
                            <td>{{ player.height_imperial }}</td>
                            <td>{{ player.weight }}</td>
                            <td>{{ player.wingspan }}/100</td>
                            <td>{{ player.sp_spent }} SP</td>
                            <td>{{ player.xp_spent }} XP</td>
                            <!-- Needs: Year 2 & Year 3 support. -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <hr>

        <h6>Player Averages</h6>
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th><i class="fas fa-user"></i> Player</th>
                        <th>GP</th>
                        <th>PPG</th>
                        <th>RPG</th>
                        <th>APG</th>
                        <th>SPG</th>
                        <th>BPG</th>
                        <th>TOV</th>
                        <th>FG%</th>
                        <th>3P%</th>
                        <th>FT%</th>
                        <th>ORPG</th>
                        <th>DRPG</th>
                        <th>FPG</th>
                        <th>+/-</th>
                        <th>PRF</th>
                        <th>DPG</th>
                    </tr>
                </thead>
                <tbody class="table table-dark table-hover">
                    {% for player, season_stats in team_stats.player_season_stats.items %}
                    {% if season_stats.games_played > 0 %}
                        <tr>
                            <td>{{ player.first_name }} {{ player.last_name }}</td>
                            <td>{{ season_stats.games_played }}</td>
                            <td>{{ season_stats.average_points}}</td>
                            <td>{{ season_stats.average_rebounds }}</td>
                            <td>{{ season_stats.average_assists }}</td>
                            <td>{{ season_stats.average_steals }}</td>
                            <td>{{ season_stats.average_blocks }}</td>
                            <td>{{ season_stats.average_turnovers }}</td>
                            <td>{{ season_stats.average_field_goal_percentage }}</td>
                            <td>{{ season_stats.average_three_point_percentage }}</td>
                            <td>{{ season_stats.average_free_throw_percentage }}</td>
                            <td>{{ season_stats.average_offensive_rebounds }}</td>
                            <td>{{ season_stats.average_defensive_rebounds }}</td>
                            <td>{{ season_stats.average_personal_fouls }}</td>
                            <td>{{ season_stats.average_plus_minus }}</td>
                            <td>{{ season_stats.average_points_responsible_for }}</td>
                            <td>{{ season_stats.average_dunks }}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <hr>

        <h6>Player Totals</h6>
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th><i class="fas fa-user"></i> Player</th>
                        <th>Points</th>
                        <th>Rebounds</th>
                        <th>Assists</th>
                        <th>Steals</th>
                        <th>Blocks</th>
                        <th>Turnovers</th>
                        <th>FGM</th>
                        <th>FGA</th>
                        <th>3PM</th>
                        <th>3PA</th>
                        <th>FTM</th>
                        <th>FTA</th>
                        <th>OREB</th>
                        <th>DREB</th>
                        <th>PF</th>
                        <th>+/-</th>
                        <th>PRF</th>
                        <th>DNK</th>
                    </tr>
                </thead>
                <tbody class="table table-dark table-hover">
                {% for player, season_stats in team_stats.player_season_stats.items %}
                    <tr>
                        <td>{{ player.first_name }} {{ player.last_name }}</td>
                        <td>{{ season_stats.points}}</td>
                        <td>{{ season_stats.rebounds }}</td>
                        <td>{{ season_stats.assists }}</td>
                        <td>{{ season_stats.steals }}</td>
                        <td>{{ season_stats.blocks }}</td>
                        <td>{{ season_stats.turnovers }}</td>
                        <td>{{ season_stats.field_goals_made }}</td>
                        <td>{{ season_stats.field_goals_attempted }}</td>
                        <td>{{ season_stats.three_pointers_made }}</td>
                        <td>{{ season_stats.three_pointers_attempted }}</td>
                        <td>{{ season_stats.free_throws_made }}</td>
                        <td>{{ season_stats.free_throws_attempted }}</td>
                        <td>{{ season_stats.offensive_rebounds }}</td>
                        <td>{{ season_stats.defensive_rebounds }}</td>
                        <td>{{ season_stats.personal_fouls }}</td>
                        <td>{{ season_stats.plus_minus }}</td>
                        <td>{{ season_stats.points_responsible_for }}</td>
                        <td>{{ season_stats.dunks }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}
