
{% extends '_base.html' %}
{% load static %}
{% block title %}Home Page{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Stripe card -->
        <div class="col-md-6 gx-3 gy-3">
            <div class="card h-100">
                <div class="card-header">
                    <h2><i class="fa-brands fa-stripe"></i> Benefits</h2>
                </div>
                <div class="card-body">
                    <p>Purchase subscriptions to unlock more features.</p>
                    <ul>
                        <ul class="list-group mt-2">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <i class="fas fa-file-contract"></i> Automatic Contract Collections
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-tools"></i> Support Only Modification List
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-percentage"></i> 25% Modification Discount
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-user-shield"></i> Discord Server Role
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-arrow-up"></i> Upgrading Services
                                </li>
                            </ul>
                        </ul>
                    </ul>
                </div>
                <div class="card-footer p-3">
                    <a href="https://donate.stripe.com/aEUdUuaYN3rZ1LGcMN" class="btn btn-sm btn-info"><i class="fa-brands fa-stripe"></i> S2 Care Package</a>
                </div>
            </div>
        </div>
        <!-- Home card -->
        <div class="col-md-6 gx-3 gy-3">
            <div class="card h-100">
                <div class="card-header">
                    <h2><i class="fa-solid fa-home"></i> Home</h2>
                </div>
                <div class="card-body">
                    <p>Hey, {{ user.username }}!</p>
                    <ul>
                        <form>
                            {% csrf_token %}
                            <li id="claim-status" class="list-group-item mt-2"><a href="#" class="text-decoration-none" hx-trigger="click throttle:1s" hx-target="#claim-status" hx-swap="innerHTML" hx-post="{% url 'claim_contracts' %}"><i class="fa-solid fa-file-contract"></i> Claim Contracts</a></li>
                            <li class="list-group-item mt-2"><a href="{% url 'draft_page' 34 %}" class="text-decoration-none"><i class="fa-solid fa-award"></i> S2 Draft Results</a></li>
                        </form>
                    </ul>
                </div>
                <div class="card-footer p-3">
                    <a href="https://github.com/doublesync/TheRussellCup/wiki" class="btn btn-sm btn-dark"><i class="fa-brands fa-github"></i> Compendium</a>
                    <a href="https://discord.com/invite/hCn3uSfDWX" class="btn btn-sm btn-primary"><i class="fa-brands fa-discord"></i> Discord</a>
                </div>
            </div>
        </div>
        <!-- Files card -->
        <div class="col-md-6 gx-3 gy-3">
            <div class="card h-100">
                <div class="card-header">
                    <h2><i class="fa-solid fa-file"></i> Files</h2>
                </div>
                <div class="card-body">
                    {% if player_files %}
                        {% for player in player_files %}
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{% url 'player_page' player.id %}" class="text-decoration-none">{{ player.first_name }} {{ player.last_name }}</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>You don't have any files.</p>
                    {% endif %}
                </div>
                <div class="card-footer p-3">
                    <a href="{% url 'create_player' %}" class="btn btn-sm btn-info"><i class="fa-solid fa-user-plus"></i> Create Player</a>
                    <a href="{% url 'mods_list' %}" class="btn btn-sm btn-dark"><i class="fa-solid fa-gear"></i> Buy Mods</a>
                </div>
            </div>
        </div>
        <!-- Jobs card -->
        <div class="col-md-6 gx-3 gy-3">
            <div class="card h-100">
                <div class="card-header">
                    <h2><i class="fa-solid fa-briefcase"></i> Jobs</h2>
                </div>
                <div class="card-body">
                    <p>Here are your current jobs.</p>
                    {% if user.can_pay_players %}
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <a href="#" class="text-decoration-none"><i class="fa-solid fa-coins"></i> Pay Players</a>
                    </div>
                    {% endif %}
                    {% if user.can_mark_upgrades %}
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <a href="{% url 'incomplete_logs' %}" class="text-decoration-none"><i class="fa-solid fa-marker"></i> Mark Upgrades</a>
                    </div>
                    {% endif %}
                </div>
                <div class="card-footer p-3">
                    <a href="#" class="btn btn-sm btn-success"><i class="fa-solid fa-dollar"></i> Apply to jobs</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
