
{% extends '_base.html' %}
{% load static %}
{% block title %}Home Page{% endblock title %}

{% block content %}
<div class="container-fluid">

		<div class="container-fluid">
			<!-- Box Score Banner -->
			<div class="text-danger py-3 overflow-hidden relative">
				<div class="max-w-6xl mx-auto px-4">
					<div class="flex space-x-6 animate-marquee">
						{% for game in recent_games %}
						<a href="{% url 'boxscore' game.id %}" class="flex items-center space-x-3 bg-primary px-4 py-2 rounded-lg shadow-lg hover:scale-105 transition-transform duration-300">
							<div class="text-lg font-bold">{{ game.home_team.name }}</div>
							<div class="text-xl font-extrabold">100</div>
							<div class="text-sm text-gray-400">vs</div>
							<div class="text-xl font-extrabold">116</div>
							<div class="text-lg font-bold">{{ game.away_team.name }}</div>
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	
		<div class="hero min-h-full">
			<div class="flex flex-col md:flex-row items-stretch p-4">
				<!-- Image Section -->
				<div class="max-w-full overflow-hidden m-4 flex-1 flex items-center justify-center">
						<img src="https://i.imgur.com/L9PpP5G.png" class="w-full max-w-sm rounded-lg shadow-2xl h-full object-cover">
				</div>
		
				<!-- Text + Cards Section -->
				<div class="m-4 flex-1 flex flex-col justify-between">
						<div>
							<h1 class="text-5xl font-bold">Cheers, {{ user.username }}!</h1>
							<p class="py-6">Enjoy the season!</p>
						</div>
		
						<!-- Cards Grid -->
						<div class="grid grid-cols-1 md:grid-cols-2 gap-4">

								{% comment %} Free Agency Card {% endcomment %}
								<div class="card bg-base-200 shadow-lg p-2 md:col-span-2 h-full">
									{% comment %} The buttons should take up an equal amount of space in the box/card {% endcomment %}
									{% comment %} <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-2">
										<a href="{% url 'view_offers' %}" class="btn btn-secondary flex-1 md:w-auto">
											<i class="fa-solid fa-users"></i> Team Offers
										</a>
										<a href="{% url 'view_player_offers' %}" class="btn btn-secondary flex-1 md:w-auto">
											<i class="fa-solid fa-user"></i> Player Offers
										</a>
									</div> {% endcomment %}
									{% comment %} Let's create a button that opens a modal {% endcomment %}
									<div class="card-body pt-4">
										<h2 class="card-title"><i class="fa-solid fa-users"></i> Alert</h2>
										<hr class="my-2">
										<p class="text-sm text-gray-500">You have a message from doublesync!</p>
										<div class="flex justify-center mt-4">
											<button class="btn btn-success btn-sm" onclick="document.getElementById('message-modal').classList.add('modal-open')"><i class="fa-solid fa-envelope"></i> View Message</button>
										</div>
									</div>
								</div>

								<!-- Files Card -->
								<div class="card bg-base-200 shadow-lg p-2 h-full">
										<div class="card-body pt-4">
												<h2 class="card-title"><i class="fa-solid fa-folder"></i> Files</h2>
												<hr class="my-2">
												<ul>
														{% for file in player_files %}
														<li>
																<a href="{% url 'player_page' file.id %}" class="truncate block">
																		<i class="fa-solid fa-file"></i> {{ file.first_name }} {{ file.last_name }}
																</a>
														</li>
														{% endfor %}
												</ul>
										</div>
								</div>
		
								<!-- Jobs Card -->
								<div class="card bg-base-200 shadow-lg p-2 h-full">
										<div class="card-body pt-4">
												<h2 class="card-title"><i class="fa-solid fa-briefcase"></i> Jobs</h2>
												<hr class="my-2">
												<ul>
														{% if user.is_staff %}
														<li><a href="{% url 'create_game' %}"><i class="fa-solid fa-user-plus"></i> Create Game</a></li>
														{% endif %}
														{% if user.can_pay_players %}
														<li><a href="{% url 'payment_requests' %}"><i class="fa-solid fa-money-bill"></i> Process Requests</a></li>
														<li><a href="{% url 'bulk_pay' %}"><i class="fa-solid fa-coins"></i> Bulk Pay Players</a></li>
														{% endif %}
														{% if user.can_mark_upgrades %}
														<li><a href="{% url 'incomplete_logs' %}"><i class="fa-solid fa-marker"></i> Mark Upgrades</a></li>
														{% endif %}
												</ul>
										</div>
								</div>
		
								<!-- Options Card (Spans 2 columns on large screens) -->
								<div class="card bg-base-200 shadow-lg p-2 md:col-span-2 h-full">
									<div class="card-body pt-4">
										<h2 class="card-title"><i class="fa-solid fa-gear"></i> Options</h2>
										<hr class="my-2">
										<ul>
											<li><a href="{% url 'create_player' %}"><i class="fa-solid fa-user-plus"></i> Create Player</a></li>
											<li><a href="{% url 'mods_list' %}"><i class="fa-solid fa-user-plus"></i> Buy Modifications</a></li>
											<li><a href="{% url 'compare_players' %}"><i class="fa-solid fa-person"></i> Compare Players</a></li>
											<hr class="mt-4 mb-4">
											<div class="flex justify-center mt-4">
												<button class="btn btn-primary btn-lg" onclick="document.getElementById('message-modal').classList.add('modal-open')"><i class="fa-solid fa-shopping-cart"></i> Shop Paid Items</button>
											</div>
										</ul>
									</div>
								</div>
						</div>
				</div>

			</div>
		
		</div>

		{% comment %} Create a pricing modal {% endcomment %}
		<div class="modal" id="message-modal">
			<div class="modal-box">
				<h2 class="text-2xl font-bold mb-4">Message from doublesync</h2>
				<p class="mb-4">
					Thank you for being a part of this community over the past year.
					I am discontinuing support for rcup.live, but I hope you continue to enjoy
					what it has to offer and the community that has formed around it.
				</p>
				<p class="mb-4">
					Please consider supporting the project by purchasing a paid item.
					Your support helps keep the project running and allows new management
					to continue development and support.
				</p>
				<p class="mb-4">
					Select a player to receive your present on from the list below.
				</p>
				<div id="present-container" name="present-container">
					<form>
						{% csrf_token %}
						{% for file in player_files %}
						<div class="mb-2">
							<a href="#" class="block text-blue-500 hover:underline" hx-post="{% url 'htmx_generate_present' file.id %}" hx-target="#present-container" hx-swap="innerHTML" hx-trigger="click">
								<i class="fa-solid fa-file"></i> {{ file.first_name }} {{ file.last_name }}
							</a>
						</div>
						{% endfor %}
					</form>
				</div>
				{% comment %} Create a button for each of the user's players {% endcomment %}
				<div class="modal-action">
					<button class="btn btn-primary" onclick="document.getElementById('message-modal').classList.remove('modal-open')">Close</button>
				</div>
			</div>
		</div>

</div>
{% endblock content %}

{% block styles %}
<style>
	@keyframes marquee {
		from { transform: translateX(-50%); }
		to { transform: translateX(-100%); }
	}
	.animate-marquee {
		display: flex;
		white-space: nowrap;
		animation: marquee 30s linear infinite;
	}
</style>
{% endblock styles %}
