{% extends '_base.html' %}

{% block title %}Upgrades{% endblock %}

{% block content %}
<form>
    {% csrf_token %}
    <div class="container mx-auto">
        <div class="flex justify-start mb-4">
            <a href="{% url 'home' %}" class="btn btn-sm btn-info btn-outline gap-2">
                <i class="fa-solid fa-arrow-left"></i> Back Home
            </a>
        </div>
        <div class="bg-base-200 rounded-lg shadow-md">
            <h2 class="text-2xl font-semibold mb-4">Upgrade Logs</h2>
            <div class="overflow-x-auto">
                <table class="table w-full">
                    <thead>
                        <tr class="text-base-content bg-base-300">
                            <th><i class="fa-solid fa-link"></i> Link</th>
                            <th><i class="fa-solid fa-user-group"></i> Team</th>
                            <th><i class="fa-solid fa-person"></i> Player</th>
                            <th><i class="fa-solid fa-coins"></i> Total</th>
                            <th><i class="fa-solid fa-calendar"></i> Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% csrf_token %}
                        {% for log in upgrade_logs %}
                        <tr class="hover:bg-base-100">
                            <td>
                                <a href="{% url 'upgrade_log' log.id %}" target="_blank" class="btn btn-sm btn-info btn-ghost gap-2">
                                    <i class="fa-solid fa-eye"></i> View
                                </a>
                            </td>
                            <td>{{ log.player.team }}</td>
                            <td>{{ log.player }}</td>
                            <td>{{ log.total_sp }} SP, {{ log.total_xp }} XP</td>
                            <td>{{ log.created }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
{% endblock %}
