{% extends '_base.html' %}
{% load static %}

{% block title %}Upgrade Log{% endblock %}

{% block content %}

    <div class="container">
        <div class="row gx-5 gy-5 mb-4">
            <div class="col-md-12">
                <h1>Upgrade Log #{{ log.id }}</h1>
                <a href="{% url 'view_logs' log.player.id %}" class="btn btn-sm btn-info"><i class="fa-solid fa-arrow-left"></i> Back to Logs</a>
            </div>
        </div>
        <div class="row gx-5 gy-5">
            <div class="col-md-12">
                <h3>Vitals</h3>
                <ul class="list-style-none">
                     <li>Go to the {{ log.player.team }}</li>
                    <li>Set name to {{ log.player.first_name }} {{ log.player.last_name }}</li>
                    <li>Set number to #{{ log.player.number }}</li>
                    <li>Set nickname to none</li>
                </ul>
                <h3 for="body-list" class="form-label">Body</h3>
                <ul id="body-list" class="list-style-none">
                    <li>Set weight to {{ log.player.height_imperial }}</li>
                    <li>Set weight to {{ log.player.weight }}lbs</li>
                    <li>Set wingspan to {{ log.player.wingspan }}/100</li>
                    <li>Remove player's nickname</li>
                </ul>
                <h3 for="signature-list" class="form-label">Signature</h3>
                <ul id="signature-list" class="list-style-none">
                    <li>{{ log.player.jumpshot }} Base</li>
                    <li>{{ log.player.jumpshot_release_1 }} Release 1</li>
                    <li>{{ log.player.jumpshot_release_2 }} Release 2</li>
                    <li>{{ log.player.jumpshot_blending }}% Blending</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row gx-5 gy-5">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><i class="fa-solid fa-coins"></i> Total (SP)</th>
                            <th><i class="fa-solid fa-coins"></i> Total (XP)</th>
                            <th><i class="fa-solid fa-calendar"></i> Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ log.total_sp }} SP</td>
                            <td>{{ log.total_xp }} XP</td>
                            <td>{{ log.created }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Attributes -->
            <div class="col-md-6">
                <h2>Attributes</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><i class="fa-solid fa-arrow-up-1-9"></i> Attribute</th>
                            <th><i class="fa-solid fa-coins"></i> Price (SP)</th>
                            <th><i class="fa-solid fa-cart-shopping"></i> Start</th>
                            <th><i class="fa-solid fa-cart-shopping"></i> New</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category, data in log.upgrades.attributes.items %}
                            {% for attribute, data in data.items %}
                            <tr>
                                <td>{{ category }}</td>
                                <td>{{ attribute }}</td>
                                <td>{{ data.price }}</td>
                                <td>{{ data.start }} <i class="fa-solid fa-arrow-right"></i> {{ data.new }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Badges -->
            <div class="col-md-6">
                <h2>Badges</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><i class="fa-solid fa-arrow-up-1-9"></i> Badge</th>
                            <th><i class="fa-solid fa-coins"></i> Price (SP)</th>
                            <th><i class="fa-solid fa-cart-shopping"></i> Start</th>
                            <th><i class="fa-solid fa-cart-shopping"></i> New</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category, data in log.upgrades.badges.items %}
                            {% for badge, data in data.items %}
                            <tr>
                                <td>{{ category }}</td>
                                <td>{{ badge }}</td>
                                <td>{{ data.price }}</td>
                                <td>{{ data.start }} <i class="fa-solid fa-arrow-right"></i> {{ data.new }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Tendencies -->
            <div class="col-12">
                <h2>Tendencies</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><i class="fa-solid fa-list"></i> Category</th>
                            <th><i class="fa-solid fa-arrow-up-1-9"></i> Tendency</th>
                            <th><i class="fa-solid fa-coins"></i> Price (XP)</th>
                            <th><i class="fa-solid fa-cart-shopping"></i> Change</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category, data in log.upgrades.tendencies.items %}
                            {% for tendency, data in data.items %}
                            <tr>
                                <td>{{ category }}</td>
                                <td>{{ tendency }}</td>
                                <td>{{ data.price }}</td>
                                <td>{{ data.start }} <i class="fa-solid fa-arrow-right"></i> {{ data.new }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}