{% extends '_base.html' %}
{% load static %}

{% block title %}Upgrade Logs{% endblock %}

{% block content %}
    <div class="container">
        <div class="row gx-5 gy-5 mb-4">
            <div class="col-md-12">
                <h1>{{ player.first_name }} {{ player.last_name }} Logs</h1>
                <a href="{% url 'player_page' player.id %}" class="btn btn-sm btn-info"><i class="fa-solid fa-arrow-left"></i> Back to Player</a>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <h2>Season {{ payment_data.current_season }}, Game Week {{ payment_data.current_week }}</h2>
                <small class="text-muted">Week Earnings</small>
                <span class="list-group-item"><i class="fa-solid fa-coins"></i> {{ payment_data.payment_sum_season }}/{{ payment_data.max_sp_season }} SP this season.</span>
            </div>
        </div>
        <div class="row gx-5 gy-5">
            <div class="col-md-6">
                <h2>Upgrade Logs</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><i class="fa-solid fa-link"></i> Link</th>
                            <th><i class="fa-solid fa-coins"></i> Total</th>
                            <th><i class="fa-solid fa-calendar"></i> Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in upgrade_logs %}
                        <tr>
                            <td><a href="{% url 'upgrade_log' log.id %}" class="btn btn-sm btn-info"><i class="fa-solid fa-eye"></i> View</a></td>
                            <td>{{ log.total_sp }} SP, {{ log.total_xp }} XP</td>
                            <td>{{ log.created }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2>(SP) Payment Logs</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><i class="fa-solid fa-link"></i> Link</th>
                            <th><i class="fa-solid fa-coins"></i> Payment</th>
                            <th><i class="fa-solid fa-pen"></i> Reason</th>
                            <th><i class="fa-solid fa-person"></i> Staff</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in payment_logs %}
                        <tr>
                            <td><a href="{% url 'payment_log' log.id %}" class="btn btn-sm btn-info"><i class="fa-solid fa-eye"></i> View</a></td>
                            <td>{{ log.payment }} SP</td>
                            <td>{{ log.reason }}</td>
                            <td>{{ log.staff.username }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
