<tbody id="stat-body" class="table table-dark table-hover">
{% for id, player in players.items %}
{% if player.games > 0 %}
    <tr>
        <td>{{ player.full_name }}</td>
        <td>{{ player.position }}</td>
        <td>{{ player.games }}</td>
        <td>{{ player.points__avg}}</td>
        <td>{{ player.rebounds__avg }}</td>
        <td>{{ player.assists__avg }}</td>
        <td>{{ player.steals__avg }}</td>
        <td>{{ player.blocks__avg }}</td>
        <td>{{ player.turnovers__avg }}</td>
        <td>{{ player.field_goal_percentage }}</td>
        <td>{{ player.three_point_percentage }}</td>
        <td>{{ player.free_throw_percentage }}</td>
        <td>{{ player.offensive_rebounds__avg }}</td>
        <td>{{ player.defensive_rebounds__avg }}</td>
        <td>{{ player.personal_fouls__avg }}</td>
        <td>{{ player.plus_minus__avg }}</td>
        <td>{{ player.points_responsible_for__avg }}</td>
        <td>{{ player.dunks__avg }}</td>
        <td>{{ player.game_score__avg }}</td>
        <td>{{ player.effective_field_goal_percentage__avg }}</td>
        <td>{{ player.true_shooting_percentage__avg }}</td>
        <td>{{ player.turnover_percentage__avg }}</td>
    </tr>
{% endif %}
{% endfor %}
</tbody>
