<div name="stat-table" id="stat-table" class="table-responsive">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th><i class="fas fa-user"></i> NAME</th>
                <th><i class="fas fa-gear"></i> POS</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'games' %}"></a> GP</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'points__avg' %}"></a> PPG</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'rebounds__avg' %}"></a> RPG</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'assists__avg' %}"></a> APG</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'steals__avg' %}"></a> SPG</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'blocks__avg' %}"></a> BPG</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'turnovers__avg' %}"></a> TOV</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'field_goal_percentage' %}"></a> FG%</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'three_point_percentage' %}"></a> 3P%</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'free_throw_percentage' %}"></a> FT%</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'offensive_rebounds__avg' %}"></a> ORPG</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'defensive_rebounds__avg' %}"></a> DRPG</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'personal_fouls__avg' %}"></a> FPG</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'plus_minus__avg' %}"></a> +/-</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'points_responsible_for__avg' %}"></a> PRF</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'dunks__avg' %}"></a> DPG</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'game_score__avg' %}"></a> GMSC</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'effective_field_goal_percentage__avg' %}"></a> EFG%</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'true_shooting_percentage__avg' %}"></a> TS%</th>
                <th><a href="#" class="fas fa-sort text-decoration-none text-light" hx-trigger="click throttle:1s" hx-target="#stat-table" hx-swap="outerHTML" hx-post="{% url 'sort_by_stat' 'turnover_percentage__avg' %}"></a> TOV%</th>
            </tr>
        </thead>
        <tbody class="table table-dark table-hover">
            {% for id, player in players.items %}
            {% if player.games > 0 %}
                <tr>
                    <td>{{ player.full_name }}</td>
                    <td>{{ player.position }}</td>
                    <td>{{ player.games }}</td>
                    <td>{{ player.points__avg}}</td>
                    <td>{{ player.rebounds__avg }}</td>
                    <td>{{ player.assists__avg }}</td>
                    <td>{{ player.steals__avg }}</td>
                    <td>{{ player.blocks__avg }}</td>
                    <td>{{ player.turnovers__avg }}</td>
                    <td>{{ player.field_goal_percentage }}</td>
                    <td>{{ player.three_point_percentage }}</td>
                    <td>{{ player.free_throw_percentage }}</td>
                    <td>{{ player.offensive_rebounds__avg }}</td>
                    <td>{{ player.defensive_rebounds__avg }}</td>
                    <td>{{ player.personal_fouls__avg }}</td>
                    <td>{{ player.plus_minus__avg }}</td>
                    <td>{{ player.points_responsible_for__avg }}</td>
                    <td>{{ player.dunks__avg }}</td>
                    <td>{{ player.game_score__avg }}</td>
                    <td>{{ player.effective_field_goal_percentage__avg }}</td>
                    <td>{{ player.true_shooting_percentage__avg }}</td>
                    <td>{{ player.turnover_percentage__avg }}</td>
                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </div>
</div>