<div class="overflow-x-auto">
    <table class="table table-zebra w-full text-sm text-gray-800">
        <thead class="bg-gray-700 text-white">
            <tr>
                <th class="p-2 text-center">NAME</th>
                <th class="p-2 text-center">T/GP</th>
                <th class="p-2 text-center">A/MIN</th>
                <th class="p-2 text-center">A/PTS</th>
                <th class="p-2 text-center">A/REB</th>
                <th class="p-2 text-center">A/AST</th>
                <th class="p-2 text-center">A/STL</th>
                <th class="p-2 text-center">A/BLK</th>
                <th class="p-2 text-center">A/TOV</th>
                <th class="p-2 text-center">A/FGM</th>
                <th class="p-2 text-center">A/FGA</th>
                <th class="p-2 text-center">A/FG%</th>
                <th class="p-2 text-center">A/3PM</th>
                <th class="p-2 text-center">A/3PA</th>
                <th class="p-2 text-center">A/3P%</th>
                <th class="p-2 text-center">A/FTM</th>
                <th class="p-2 text-center">A/FTA</th>
                <th class="p-2 text-center">A/FT%</th>
                <th class="p-2 text-center">A/OREB</th>
                <th class="p-2 text-center">A/PF</th>
                <th class="p-2 text-center">A/PM</th>
                <th class="p-2 text-center">A/PTRF</th>
                <th class="p-2 text-center">A/DUNK</th>
                <th class="p-2 text-center">A/DREB</th>
                <th class="p-2 text-center">A/GMSC</th>
                <th class="p-2 text-center">A/EFG%</th>
                <th class="p-2 text-center">A/TS%</th>
                <th class="p-2 text-center">A/TOV%</th>
            </tr>
        </thead>
        <tbody class="bg-gray-100 hover:bg-gray-200">
            {% for season_stats in page_obj %}
                <tr>
                    <td class="p-2 text-center">{{ season_stats.player.first_name }} {{ season_stats.player.last_name }}</td>
                    <td class="p-2 text-center">{{ season_stats.games_played }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_minutes }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_points }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_rebounds }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_assists }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_steals }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_blocks }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_turnovers }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_field_goals_made }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_field_goals_attempted }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_field_goal_percentage }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_three_pointers_made }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_three_pointers_attempted }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_three_point_percentage }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_free_throws_made }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_free_throws_attempted }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_free_throw_percentage }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_offensive_rebounds }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_personal_fouls }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_plus_minus }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_points_responsible_for }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_dunks }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_defensive_rebounds }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_game_score }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_effective_field_goal_percentage }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_true_shooting_percentage }}</td>
                    <td class="p-2 text-center">{{ season_stats.average_turnover_percentage }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mt-4 flex justify-center">
        <ul class="pagination space-x-2">
            {% if page_obj.has_previous %}
                <li><a href="#" class="btn btn-sm btn-primary" hx-post="{% url 'htmx_filter_players' 'stats' %}?page=1" hx-trigger="click throttle:1s" hx-target="#search-table" hx-swap="innerHTML">First</a></li>
                <li><a href="#" class="btn btn-sm btn-primary" hx-post="{% url 'htmx_filter_players' 'stats' %}?page={{ page_obj.previous_page_number }}" hx-trigger="click throttle:1s" hx-target="#search-table" hx-swap="innerHTML">Previous</a></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li><span class="btn btn-sm btn-primary">{{ num }}</span></li>
                {% else %}
                    <li><a href="#" class="btn btn-sm" hx-post="{% url 'htmx_filter_players' 'stats' %}?page={{ num }}" hx-trigger="click throttle:1s" hx-target="#search-table" hx-swap="innerHTML">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="#" class="btn btn-sm btn-primary" hx-post="{% url 'htmx_filter_players' 'stats' %}?page={{ page_obj.next_page_number }}" hx-trigger="click throttle:1s" hx-target="#search-table" hx-swap="innerHTML">Next</a></li>
                <li><a href="#" class="btn btn-sm btn-primary" hx-post="{% url 'htmx_filter_players' 'stats' %}?page={{ page_obj.paginator.num_pages }}" hx-trigger="click throttle:1s" hx-target="#search-table" hx-swap="innerHTML">Last</a></li>
            {% endif %}
        </ul>
    </div>
</div>
