{% comment %} Game information {% endcomment %}
<div class="overflow-x-auto mb-4">
    {% comment %} Home team points {% endcomment %}
    <div class="grid grid-cols-2 gap-4">
        <div>
            <label for="home_team_points" class="block text-lg font-medium mb-2">Home Team Points</label>
            <input type="number" name="home_team_points" class="input input-bordered w-full" />
        </div>
        <div>
            <label for="away_team_points" class="block text-lg font-medium mb-2">Away Team Points</label>
            <input type="number" name="away_team_points" class="input input-bordered w-full" />
        </div>
    </div>
</div>

{% comment %} Home players table {% endcomment %}
<div class="overflow-x-auto mt-4">
    <table class="table table-zebra table-bordered w-full">
        <thead>
            <tr>
                <th class="text-center bg-gray-800 text-white">TEAM</th>
                <th class="text-center bg-gray-800 text-white">PLAYER</th>
                <th class="text-center bg-gray-800 text-white">MP</th>
                <th class="text-center bg-gray-800 text-white">REB</th>
                <th class="text-center bg-gray-800 text-white">AST</th>
                <th class="text-center bg-gray-800 text-white">STL</th>
                <th class="text-center bg-gray-800 text-white">BLK</th>
                <th class="text-center bg-gray-800 text-white">TO</th>
                <th class="text-center bg-gray-800 text-white">FGM</th>
                <th class="text-center bg-gray-800 text-white">FGA</th>
                <th class="text-center bg-gray-800 text-white">3PM</th>
                <th class="text-center bg-gray-800 text-white">3PA</th>
                <th class="text-center bg-gray-800 text-white">FTM</th>
                <th class="text-center bg-gray-800 text-white">FTA</th>
                <th class="text-center bg-gray-800 text-white">OREB</th>
                <th class="text-center bg-gray-800 text-white">PF</th>
                <th class="text-center bg-gray-800 text-white">+/-</th>
                <th class="text-center bg-gray-800 text-white">PRF</th>
                <th class="text-center bg-gray-800 text-white">DNK</th>
            </tr>
        </thead>
        <tbody>
            {% for player in home_players %}
            <tr>
                <td class="text-center font-semibold">{{ home_team.name }}</td>
                <td class="text-center font-semibold w-48">
                    {{ player.first_name }} {{ player.last_name }}
                </td>
                <td><input type="number" name="minutes-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="rebounds-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="assists-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="steals-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="blocks-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="turnovers-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="field_goals_made-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="field_goals_attempted-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="three_pointers_made-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="three_pointers_attempted-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="free_throws_made-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="free_throws_attempted-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="offensive_rebounds-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="personal_fouls-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="plus_minus-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="points_responsible_for-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="dunks-{{ player.id }}" class="input input-bordered w-full" /></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% comment %} Away players table {% endcomment %}
<div class="overflow-x-auto">
    <table class="table table-zebra table-bordered w-full">
        <thead>
            <tr>
                <th class="text-center bg-gray-800 text-white">TEAM</th>
                <th class="text-center bg-gray-800 text-white">PLAYER</th>
                <th class="text-center bg-gray-800 text-white">MP</th>
                <th class="text-center bg-gray-800 text-white">REB</th>
                <th class="text-center bg-gray-800 text-white">AST</th>
                <th class="text-center bg-gray-800 text-white">STL</th>
                <th class="text-center bg-gray-800 text-white">BLK</th>
                <th class="text-center bg-gray-800 text-white">TO</th>
                <th class="text-center bg-gray-800 text-white">FGM</th>
                <th class="text-center bg-gray-800 text-white">FGA</th>
                <th class="text-center bg-gray-800 text-white">3PM</th>
                <th class="text-center bg-gray-800 text-white">3PA</th>
                <th class="text-center bg-gray-800 text-white">FTM</th>
                <th class="text-center bg-gray-800 text-white">FTA</th>
                <th class="text-center bg-gray-800 text-white">OREB</th>
                <th class="text-center bg-gray-800 text-white">PF</th>
                <th class="text-center bg-gray-800 text-white">+/-</th>
                <th class="text-center bg-gray-800 text-white">PRF</th>
                <th class="text-center bg-gray-800 text-white">DNK</th>
            </tr>
        </thead>
        <tbody>
            {% for player in away_players %}
            <tr>
                <td class="text-center font-semibold">{{ away_team.name }}</td>
                <td class="text-center font-semibold w-48">
                    {{ player.first_name }} {{ player.last_name }}
                </td>
                <td><input type="number" name="minutes-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="rebounds-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="assists-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="steals-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="blocks-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="turnovers-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="field_goals_made-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="field_goals_attempted-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="three_pointers_made-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="three_pointers_attempted-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="free_throws_made-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="free_throws_attempted-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="offensive_rebounds-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="personal_fouls-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="plus_minus-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="points_responsible_for-{{ player.id }}" class="input input-bordered w-full" /></td>
                <td><input type="number" name="dunks-{{ player.id }}" class="input input-bordered w-full" /></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>  