<div class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <!-- Let's put a logo here -->
        <a class="navbar-brand" href="{% url 'stats_home' %}">
            <img src="https://cdn.ssref.net/req/202407291/logos/bbr-logo.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top h-100 w-100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <!-- Games dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Games
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'performances' %}">Performances</a></li>
                        <li><a class="dropdown-item" href="{% url 'records' %}">Records</a></li>
                    </ul>
                </li>
                <!-- Averages dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Averages
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'player_averages' %}">Player Averages</a></li>
                        <li><a class="dropdown-item" href="#">Team Averages</a></li>
                        <li><a class="dropdown-item" href="{% url 'league_averages' %}">League Averages</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>