{% extends '_base.html' %}
{% load static %}

{% block title %}Modifications{% endblock %}

{% block styles %}
<style>
    input::placeholder {
        color: gray!important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid p-md-5">
    <h1>Modification List</h1>
    <div class="alert alert-info" role="alert">
        <i class="fa-solid fa-circle-info"></i> You have <strong>{{ user.xp }}</strong> XP.
    </div>
    <form>
        {% csrf_token %}
        <span id="status"></span>
        <span>
            <select class="bg-dark form-select" name="mod-player" id="mod-player" required>
                {% for player in players %}
                    <option value="{{ player.id }}" {% if forloop.first %}selected disabled{% endif %}>{{ player.first_name }} {{ player.last_name }}</option>
                {% endfor %}
            </select>
        </span>
        <div id="search-table" class="mt-4">
            {% include 'players/fragments/modlist_fragment.html' %}
        </div>
        <!-- Purchase Modals -->
        {% for mod in modifications %}
        <div class="modal fade" id="purchase-modal-{{ mod.id }}" tabindex="-1" aria-labelledby="purchase-modal-{{ mod.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="purchase-modal-{{ mod.id }}">Purchase {{ mod.item }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to purchase {{ mod.item }} for {{ mod.xp_price }} XP?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal" hx-post="{% url 'purchase_modification' mod.id %}" hx-trigger="click throttle:1s" hx-target="#status" hx-swap="innerHTML">Purchase</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </form>
</div>

{% endblock %}