{% extends '_base.html' %}
{% load static %}
{% load style_filters %}

{% block title %}{{ player.first_name }} {{ player.last_name }}{% endblock %}

{% block styles %}
<style>
    input[type="radio"] {
        margin: 0 10px 0 1px;
    }
    input::placeholder {
        color: gray!important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="card-title">#{{ player.number }} {{ player.first_name }} {{ player.last_name }}</h3>
                <h3 class="card-title">{{ player.sim_rating }}</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-4 gy-4">
                <div class="p-2">
                    <div class="d-flex flex-column">
                        <!-- Page to go to recent season games -->
                        <small class="text-muted"><a style="text-decoration: none;" href="{% url 'recent_season_games' player.id %}"><i class="fa-solid fa-calendar"></i> Recent Season Games</a></small>
                        <small id="face-status" class="text-muted"><a style="text-decoration: none;" href="{% url 'edit_appearance' player.id %}"><i class="fa-solid fa-brush"></i> Edit Appearance</a></span></small>
                        <div style="height: 150px; width: 250px;" id="player-appearance">
                            {{ player.svg_image|safe }}
                        </div>
                    </div>
                </div>
                <!-- Details column -->
                <div class="col-12">
                    <h4>Details</h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <small style="display: block;"><i class="fa-solid fa-ruler"></i> Height</small>
                            {{ player.height_imperial }}
                        </li>
                        <li class="list-group-item">
                            <small style="display: block;"><i class="fa-solid fa-dumbbell"></i> Weight</small>
                             {{ player.weight }}lbs
                        </li>
                        <li class="list-group-item">
                            <small style="display: block;"><i class="fa-solid fa-hand"></i> Wingspan</small>
                            {{ player.wingspan }}/100
                        </li>
                        <li class="list-group-item">
                            <small style="display: block;"><i class="fa-solid fa-gun"></i> Jumpshot</small>
                            {{ player.jumpshot_timing }} - {{ player.jumpshot }} - {{ player.jumpshot_release_1}} - {{ player.jumpshot_release_2 }} - {{ player.jumpshot_blending }}% Blend - {{ player.jumpshot_free_throw }} FT
                        </li>
                        <li class="list-group-item">
                            <small style="display: block;"><i class="fa-solid fa-location-dot"></i> Position</small>
                            {{ player.position|convert_position }}
                        </li>
                        <li class="list-group-item">
                            <small style="display: block;"><i class="fa-solid fa-earth-americas"></i> Country</small>
                            {{ player.country }}
                        </li>
                        <li class="list-group-item">
                            <small style="display: block;"><i class="fa-solid fa-graduation-cap"></i> College</small>
                            {{ player.college }}
                        </li>
                        <li class="list-group-item">
                            <small style="display: block;"><i class="fa-solid fa-tshirt"></i> Team</small>
                            {{ player.team }}
                        </li>
                        <li class="list-group-item">
                            <small style="display: block;"><i class="fa-solid fa-calendar"></i> Total Spent</small>
                            {{ player.sp_spent }} SP, {{ player.xp_spent }} XP
                        </li>
                        <li class="list-group-item">
                            <small style="display: block;"><i class="fa-solid fa-user"></i> User</small>
                            <a href="{% url 'user' player.user.id %}">{{ player.user.username }}</a>
                        </li>
                        <li class="list-group-item">
                            <small style="display: block;"><i class="fa-solid fa-gear"></i> Modifications</small>
                            {% for mod, count in player.modifications.items %}
                                {% if forloop.last %}
                                    ({{ count }}) {{ mod }}
                                {% else %}
                                    ({{ count }}) {{ mod }},
                                {% endif %}
                            {% endfor %}
                        </li>
                        <li class="list-group-item">
                            <small style="display: block;" for="upgrade_notes"><i class="fa-solid fa-chess-rook"></i> Plan</small>
                            <small id="upgrade_notes_status">No notes exist.</small>
                            <input type="hidden" id="player_id" value="{{ player.id }}">
                            <textarea style="font-size: 12px;" class="form-control text-light" id="upgrade_notes" name="upgrade_notes" row="4"></textarea>
                            <button type="submit" id="submit_upgrade_notes" class="btn btn-sm btn-dark mt-2">Save Plan</button>
                        </li>
                    </ul>
                </div>
                <!-- Currency column -->
                <div class="col-12">
                    <h4>Currency</h4>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa-solid fa-coins"></i> {{ player.sp }} SP</li>
                        <li class="list-group-item"><i class="fa-regular fa-star-half-stroke"></i> {{ player.xp }} XP</li>
                    </ul>
                    <a href="{% url 'upgrade_page' player.id %}" class="btn btn-sm btn-dark mt-2">Upgrade Player</a>
                    <a href="{% url 'view_logs' player.id %}" class="btn btn-sm btn-dark mt-2">View Logs</a>
                </div>
                <!-- Staff column -->
                {% if user.can_pay_players %}
                    <div class="row">
                        <div class="col-md-3 mt-4">
                            <div class="card">
                                <!-- Pay this player form -->
                                <form id="pay-user-form" class="p-3">
                                    {% csrf_token %}
                                    <input type="hidden" id="player-id" value="{{ player.id }}">
                                    <div class="card-header text-center">Pay User</div>
                                    <div class="card-body">
                                        <div lass="d-flex flex-column justify-content-center align-items-center">
                                            <input type="number" name="pay-amount" class="form-control text-light" placeholder="Choose amount" required/>
                                            <select name="pay-currency" class="form-control text-light" placeholder="Currency" required>
                                                <option class="text-dark" value="SP" selected>Skill Points</option>
                                                <option class="text-dark" value="XP">Experience Points</option>
                                            </select>
                                            <input name="pay-reason" class="form-control text-light" placeholder="Enter payment reason..." required/>
                                            <select name="pay-type" class="form-control text-light" placeholder="Type of payment" required>
                                                <option class="text-dark" value="add" selected>Add</option>
                                                <option class="text-dark" value="take">Take</option>
                                            </select>
                                            <hr>
                                            <div class="form-check m-3">
                                                <input type="checkbox" id="include-xp-equivalent" name="include-xp-equivalent" class="form-check-input">
                                                <label for="include-xp-equivalent">Pay XP Equivalent</label>
                                            </div>
                                            <a href="#" style="width: 100%;" class="btn btn-sm btn-info mt-2" hx-trigger="click throttle:1s" hx-target="#pay-user-form" hx-swap="innerHTML" hx-post="{% url 'pay_user' player.id 'single' %}">Pay User</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- Upgrade advice column -->
                <form>
                    {% csrf_token %}
                    <div id="upgrade-advice-container" class="col-12">
                        <button id="upgrade-advice-btn" class="btn btn-sm btn-info mt-2" hx-post="{% url 'htmx_upgrade_advice' player.id %}" hx-trigger="click throttle:10s" hx-swap="innerHTML" hx-target="#upgrade-advice-container">
                            <i class="fas fa-robot"></i> Get Upgrade Advice
                        </button>
                    </div>
                </form>
                <!-- Attributes column -->
                <div class="col-md-6">
                    <h4>Attributes</h4>
                    <ul class="list-group">
                        <div class="input-group m-1">
                            <div class="form-check m-1">
                                <input type="radio" id="show_all_attributes" name="shown_attributes" class="form-check-input" checked>
                                <label for="show_all_attributes">Show All</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_offense_attributes" name="shown_attributes" class="form-check-input">
                                <label for="show_offense_attributes">Offense</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_defense_attributes" name="shown_attributes" class="form-check-input">
                                <label for="show_defense_attributes">Defense</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_mental_attributes" name="shown_attributes" class="form-check-input">
                                <label for="show_mental_attributes">Mental</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_physical_attributes" name="shown_attributes" class="form-check-input">
                                <label for="show_physical_attributes">Physical</label>
                            </div>
                        </div>
                        <hr>
                        <div id="attribute_list" class="row">
                            {% for category, data in attributes.items %}
                            {% for k, v in data.items %}
                            <div class="col-lg-6" data-category="{{ k|add_attribute_category }}">
                                <p class="mt-0 mb-0">
                                    {% for key, value in player.coach_suggestion_attributes.items %}
                                        {% if key == k %}
                                            <span class="badge bg-light text-dark"><i class="fas fa-tasks"></i> {{ value }}</span>
                                        {% endif %}
                                    {% endfor %}
                                    <span style="{{ v|add_attribute_color }}" class="badge">{{ v }}</span> {{ k|truncatechars:20 }}
                                </p>
                            </div>
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </ul>
                </div>
                <!-- Badges column -->
                <div class="col-md-6">
                    <h4>Badges</h4>
                    <ul class="list-group">
                        <div class="input-group m-1">
                            <div class="form-check m-1">
                                <input type="radio" id="show_all_badges" name="shown_badges" class="form-check-input" checked>
                                <label for="show_all_badges">Show All</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_inside_scoring_badges" name="shown_badges" class="form-check-input">
                                <label for="show_inside_scoring_badges">Inside Scoring</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_outside_scoring_badges" name="shown_badges" class="form-check-input">
                                <label for="show_outside_scoring_badges">Outside Scoring</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_playmaking_badges" name="shown_badges" class="form-check-input">
                                <label for="show_playmaking_badges">Playmaking</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_defense_badges" name="shown_badges" class="form-check-input">
                                <label for="show_defense_badges">Defensive</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_athleticism_badges" name="shown_badges" class="form-check-input">
                                <label for="show_athleticism_badges">Athleticism</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_rebounding_badges" name="shown_badges" class="form-check-input">
                                <label for="show_rebounding_badges">Rebouding</label>
                            </div>
                        </div>
                        <hr>
                        <div id="badge_list" class="row">
                            {% for category, data in badges.items %}
                            {% for k, v in data.items %}
                            <div class="col-lg-6" data-category="{{ k|add_badge_category }}">
                                <p class="mt-0 mb-0">
                                    {% for key, value in player.coach_suggestion_badges.items %}
                                        {% if key == k %}
                                            <span class="badge bg-light text-dark"><i class="fas fa-tasks"></i> {{ value }}</span>
                                        {% endif %}
                                    {% endfor %}
                                    <span style="{{ v|add_badge_color }}" class="badge">{{ v }}</span> {{ k }}
                                </p>
                            </div>
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </ul>
                </div>
                <!-- Tendencies column -->
                <div class="col-12">
                    <h4>Tendencies</h4>
                    <ul class="list-group">
                        <div class="input-group m-1">
                            <div class="form-check m-1">
                                <input type="radio" id="show_all_tendencies" name="shown_tendencies" class="form-check-input" checked>
                                <label for="show_all_tendencies">Show All</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_jumpshooting_tendencies" name="shown_tendencies" class="form-check-input">
                                <label for="show_jumpshooting_tendencies">Jump Shooting</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_layupdunk_tendencies" name="shown_tendencies" class="form-check-input">
                                <label for="show_layupdunk_tendencies">Layups & Dunks</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_drivesetup_tendencies" name="shown_tendencies" class="form-check-input">
                                <label for="show_drivesetup_tendencies">Drive Setup</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_driving_tendencies" name="shown_tendencies" class="form-check-input">
                                <label for="show_driving_tendencies">Driving</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_passing_tendencies" name="shown_tendencies" class="form-check-input">
                                <label for="show_passing_tendencies">Passing</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_postgame_tendencies" name="shown_tendencies" class="form-check-input">
                                <label for="show_postgame_tendencies">Post Game</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_freelance_tendencies" name="shown_tendencies" class="form-check-input">
                                <label for="show_freelance_tendencies">Freelance</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" id="show_defense_tendencies" name="shown_tendencies" class="form-check-input">
                                <label for="show_defense_tendencies">Defense</label>
                            </div>
                        </div>
                        <hr>
                    </ul>
                    <div id="tendency_list" class="row">
                        {% for category, data in tendencies.items %}
                        {% for k, v in data.items %}
                        <div class="col-lg-6" data-category="{{ k|add_tendency_category }}">
                            <p class="mt-0 mb-0">
                                {% for key, value in player.coach_suggestion_tendencies.items %}
                                    {% if key == k %}
                                        <span class="badge bg-light text-dark"><i class="fas fa-tasks"></i> {{ value }}</span>
                                    {% endif %}
                                {% endfor %}
                                <span style="{{ v|add_attribute_color }}" class="badge">{{ v }}</span> {{ k }}
                            </p>
                        </div>
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const attribute_categories = {{ attribute_categories|safe }};
    const badge_categories = {{ badge_categories|safe }};
</script>
<script src="{% static 'js/players/filter_data.js' %}" type="text/javascript"></script>
<script src="{% static 'js/players/upg_notes.js' %}" type="text/javascript"></script>
{% endblock %}
