{% extends '_base.html' %}
{% load static %}

{% block title %}Players{% endblock %}

{% block styles %}
<style>
    input::placeholder {
        color: gray!important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid p-md-5">
    <small class="text-muted">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</small>
    <h1>Player List</h1>
    <form>
        {% csrf_token %}
        <div class="form-group pull-right col-lg-4">
            <input name="search-query" id="search-query" class="search form-control mb-2" type="text" placeholder="Search for players" hx-post="{% url 'htmx_search_players' %}" hx-trigger="input changed delay:500ms, search" hx-target="#search-table" hx-swap="innerHTML"/>
            <!-- Search query -->
            <select name="sort-query" id="sort-query" class="form-select mb-2" hx-post="{% url 'htmx_search_players' %}" hx-trigger="change" hx-target="#search-table" hx-swap="innerHTML">
                <optgroup label="Name">
                    <option value="first_name:asc">First Name (A-Z)</option>
                    <option value="first_name:desc">First Name (Z-A)</option>
                    <option value="last_name:asc">Last Name (A-Z)</option>
                    <option value="last_name:desc">Last Name (Z-A)</option>
                    <option value="team:asc">Team (A-Z)</option>
                    <option value="team:desc">Team (Z-A)</option>
                </optgroup>
                <optgroup label="Physical Attributes">
                    <option value="height:asc">Height (lowest)</option>
                    <option value="height:desc">Height (highest)</option>
                    <option value="weight:asc">Weight (lowest)</option>
                    <option value="weight:desc">Weight (highest)</option>
                    <option value="wingspan:asc">Wingspan (lowest)</option>
                    <option value="wingspan:desc">Wingspan (highest)</option>
                </optgroup>
                <optgroup label="Other">
                    <option value="sp_spent:asc">SP Spent (lowest)</option>
                    <option value="sp_spent:desc">SP Spent (highest)</option>
                    <option value="xp_spent:asc">XP Spent (lowest)</option>
                    <option value="xp_spent:desc">XP Spent (highest)</option>
                    <option value="sim_rating:asc">Sim Rating (lowest)</option>
                    <option value="sim_rating:desc">Sim Rating (highest)</option>
                    <option value="position:asc">Position (A-Z)</option>
                    <option value="position:desc">Position (Z-A)</option>
                    <option value="anomaly:desc">Anomalies</option>
                </optgroup>
            </select>
        </div>
        <span class="counter pull-right"></span>
        <div id="search-table">
            {% include 'players/fragments/list_fragment.html' %}
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
