{% extends '_base.html' %}
{% load static %}
{% load style_filters %}

{% block title %}{{ player.first_name }} {{ player.last_name }}{% endblock %}

{% block styles %}
<style>
    /* Adds margin to radios */
    input[type="radio"] {
        margin: 0 10px 0 1px;
    }
    /* Stops input elements from being focused on or clicked into */
    input.attribute-value, input.badge-value, input.tendency-value{
        pointer-events: none;
        outline: none;
        box-shadow: none;
        text-align: right!important;
    }
    .badge {
        --bs-badge-padding-x: 0;
        --bs-badge-padding-y: 0;
    }
</style>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="card-title">{{ player.first_name }} {{ player.last_name }}</h3>
                <h3 class="card-title">{{ player.sim_rating }}</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-4 gy-4">
                <form method="post" class="row gx-4 gy-4">
                    {% csrf_token %}
                    <input type="hidden" id="htmx-cart-url" data-url="{% url 'upgrade_page' player.id %}">
                    <input type="hidden" name="player_id" value="{{ player.id }}">
                    <input type="hidden" name="original_attributes" value="{{ player.attributes }}">
                    <input type="hidden" name="original_badges" value="{{ player.badges }}">
                    <input type="hidden" name="original_tendencies" value="{{ player.tendencies }}">
                    <!-- Currency column -->
                    <div class="col-12">
                        <a href="{% url 'player_page' player.id %}" class="btn btn-sm btn-info mb-4"><i class="fa-solid fa-arrow-left"></i> Back to Player</a>
                        <h4>Currency</h4>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fa-solid fa-coins"></i> {{ player.user.sp }} SP</li>
                            <li class="list-group-item"><i class="fa-regular fa-star-half-stroke"></i> {{ player.user.xp }} XP</li>
                            <li class="list-group-item"><small style="display: block;" class="mt-0 text-muted">Total Spent</small>{{ player.sp_spent }} SP, {{ player.xp_spent }} XP</li>
                        </ul>
                        <button type="submit" class="mt-2 btn btn-sm btn-dark">Purchase Cart</button>
                    </div>
                    <!-- Cart column -->
                    <div style="min-height: 300px;" class="col-12" id="cart-table">
                        {{ cart }}
                        {% include 'players/fragments/cart_fragment.html' %}
                    </div>
                    <div class="col-12">
                        <h4>Upgrade Step</h4>
                        <small class="text-muted">Upgrade Step is how much the plus and minus buttons add or subtract.</small>
                        <div id="upgrade_step_list" class="input-group m-1">
                            <div class="form-check m-1">
                                <input type="radio" name="upgrade-step" class="form-check-input" data-step=1 checked>
                                <label for="upgrade_step_1">1</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" name="upgrade-step" class="form-check-input" data-step=2>
                                <label for="upgrade_step_2">2</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" name="upgrade-step" class="form-check-input" data-step=3>
                                <label for="upgrade_step_3">3</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" name="upgrade-step" class="form-check-input" data-step=4>
                                <label for="upgrade_step_4">4</label>
                            </div>
                            <div class="form-check m-1">
                                <input type="radio" name="upgrade-step" class="form-check-input" data-step=5>
                                <label for="upgrade_step_5">5</label>
                            </div>
                        </div>
                    </div>
                    <!-- Attributes column -->
                    <div class="col-md-6">
                        <h4>Attributes</h4>
                        <ul class="list-group">
                            <!-- Category selectors -->
                            <div class="input-group m-1">
                                <div class="form-check m-1">
                                    <input type="radio" id="show_all_attributes" name="shown_attributes" class="form-check-input" checked>
                                    <label for="show_all_attributes">Show All</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_offense_attributes" name="shown_attributes" class="form-check-input">
                                    <label for="show_offense_attributes">Offense</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_defense_attributes" name="shown_attributes" class="form-check-input">
                                    <label for="show_defense_attributes">Defense</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_mental_attributes" name="shown_attributes" class="form-check-input">
                                    <label for="show_mental_attributes">Mental</label>
                                </div>
                            </div>
                            <hr>
                            <!-- Attributes -->
                            <div id="attribute_list" class="row">
                                {% for field in form %}
                                {% if field.field.widget.attrs.data_type == 'attribute' %}
                                <div class="col-lg-6" data-category="{{ field.label|add_attribute_category }}">
                                    <p class="m-1">
                                        <div style="{{ field.value|add_attribute_color }}" class="badge">
                                            <div class="value-control d-flex justify-content-center align-items-center">
                                                <button type="button" class="btn btn-sm attribute-plus" hx-post="{% url 'upgrade_page' player.id %}" hx-trigger="click" hx-target="#cart-table" hx-swap="innerHTML"><i class="fa-solid fa-plus"></i></button>
                                                {{ field }}
                                                <button type="button" class="btn btn-sm attribute-minus" hx-post="{% url 'upgrade_page' player.id %}" hx-trigger="click" hx-target="#cart-table" hx-swap="innerHTML"><i class="fa-solid fa-minus"></i></button>
                                            </div>
                                        </div>
                                        {{ field.label }}
                                    </p>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </ul>
                    </div>
                    <!-- Badges column -->
                    <div class="col-md-6">
                        <h4>Badges</h4>
                        <ul class="list-group">
                            <!-- Category selectors -->
                            <div class="input-group m-1">
                                <div class="form-check m-1">
                                    <input type="radio" id="show_all_badges" name="shown_badges" class="form-check-input" checked>
                                    <label for="show_all_badges">Show All</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_inside_scoring_badges" name="shown_badges" class="form-check-input">
                                    <label for="show_inside_scoring_badges">Inside Scoring</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_outside_scoring_badges" name="shown_badges" class="form-check-input">
                                    <label for="show_outside_scoring_badges">Outside Scoring</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_playmaking_badges" name="shown_badges" class="form-check-input">
                                    <label for="show_playmaking_badges">Playmaking</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_defense_badges" name="shown_badges" class="form-check-input">
                                    <label for="show_defense_badges">Defensive</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_athleticism_badges" name="shown_badges" class="form-check-input">
                                    <label for="show_athleticism_badges">Athleticism</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_rebounding_badges" name="shown_badges" class="form-check-input">
                                    <label for="show_rebounding_badges">Rebouding</label>
                                </div>
                            </div>
                            <hr>
                            <!-- Badges -->
                            <div id="badge_list" class="row" >
                                {% for field in form %}
                                {% if field.field.widget.attrs.data_type == 'badge' %}
                                <div class="col-lg-6" data-category="{{ field.label|add_badge_category }}">
                                    <p class="m-1">
                                        <div style="{{ field.value|add_badge_color }}" class="badge">
                                            <div class="value-control d-flex justify-content-center align-items-center">
                                                <button type="button" class="btn btn-sm badge-plus" hx-post="{% url 'upgrade_page' player.id %}" hx-trigger="click" hx-target="#cart-table" hx-swap="innerHTML"><i class="fa-solid fa-plus"></i></button>
                                                {{ field }}
                                                <button type="button" class="btn btn-sm badge-minus" hx-post="{% url 'upgrade_page' player.id %}" hx-trigger="click" hx-target="#cart-table" hx-swap="innerHTML"><i class="fa-solid fa-minus"></i></button>
                                            </div>
                                        </div>
                                        {{ field.label }}
                                    </p>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </ul>
                    </div>
                    <!-- Tendencies column -->
                     <div class="col-12">
                        <h4>Tendencies</h4>
                        <ul class="list-group">
                            <div class="input-group m-1">
                                <div class="form-check m-1">
                                    <input type="radio" id="show_all_tendencies" name="shown_tendencies" class="form-check-input" checked>
                                    <label for="show_all_tendencies">Show All</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_jumpshooting_tendencies" name="shown_tendencies" class="form-check-input">
                                    <label for="show_jumpshooting_tendencies">Jump Shooting</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_layupdunk_tendencies" name="shown_tendencies" class="form-check-input">
                                    <label for="show_layupdunk_tendencies">Layups & Dunks</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_drivesetup_tendencies" name="shown_tendencies" class="form-check-input">
                                    <label for="show_drivesetup_tendencies">Drive Setup</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_driving_tendencies" name="shown_tendencies" class="form-check-input">
                                    <label for="show_driving_tendencies">Driving</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_passing_tendencies" name="shown_tendencies" class="form-check-input">
                                    <label for="show_passing_tendencies">Passing</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_postgame_tendencies" name="shown_tendencies" class="form-check-input">
                                    <label for="show_postgame_tendencies">Post Game</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_freelance_tendencies" name="shown_tendencies" class="form-check-input">
                                    <label for="show_freelance_tendencies">Freelance</label>
                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" id="show_defense_tendencies" name="shown_tendencies" class="form-check-input">
                                    <label for="show_defense_tendencies">Defense</label>
                                </div>
                            </div>
                            <hr>
                        </ul>
                        <!-- Tendencies -->
                        <div id="tendency_list" class="row" >
                            {% for field in form %}
                            {% if field.field.widget.attrs.data_type == 'tendency' %}
                            <div class="col-lg-6" data-category="{{ field.label|add_tendency_category }}">
                                <p class="m-1">
                                    <div style="{{ field.value|add_attribute_color }}" class="badge">
                                        <div class="value-control d-flex justify-content-center align-items-center">
                                            <button type="button" class="btn btn-sm tendency-plus" hx-post="{% url 'upgrade_page' player.id %}" hx-trigger="click" hx-target="#cart-table" hx-swap="innerHTML"><i class="fa-solid fa-plus"></i></button>
                                            {{ field }}
                                            <button type="button" class="btn btn-sm tendency-minus" hx-post="{% url 'upgrade_page' player.id %}" hx-trigger="click" hx-target="#cart-table" hx-swap="innerHTML"><i class="fa-solid fa-minus"></i></button>
                                        </div>
                                    </div>
                                    {{ field.label }}
                                </p>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                     </div>
                <form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var player_attributes = {{ player.attributes|safe }};
    var player_badges = {{ player.badges|safe }};
    var player_tendencies = {{ player.tendencies|safe }};
    var player = {
        attributes: player_attributes,
        badges: player_badges,
        tendencies: player_tendencies,
    }
</script>
<script src="{% static 'js/players/filter_data.js' %}" type="text/javascript"></script>
<script src="{% static 'js/players/upg_utils.js' %}" type="text/javascript"></script>
{% endblock %}
