{% extends '_base.html' %}
{% load news_filters %}
{% load style_filters %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <form method="post">
            <div class="card-header">
                <h5>New Post</h5>
            </div>
            <div class="card-body">
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}<br>
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}<br>
                        {{ field|add_class:"form-control bg-dark text-light mb-2" }}
                        {% for error in field.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer p-3">
                <button type="submit" class="btn btn-info">Create Post</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}