{% extends '_base.html' %}

{% block title %}News Posts{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fa-solid fa-envelope"></i> Posts</h3>
            <p>Recent posts from the news section</p>
        </div>
        <div class="card-body">
            <div class="row">
                {% for post in posts %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{{ post.title }}</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <li class="list-group-item">
                            <p>{{ post.content|truncatechars:100 }}</p>
                            <a href="{% url 'post' post.id %}">Read more</a>
                        </li>
                    </div>
                    <div class="card-footer">
                        Created by <a href="{% url 'user' post.user.id %}">{{ post.user }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}