{% extends '_base.html' %}

{% load news_filters %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <img class="img-fluid" src="{{ post.image }}" alt="{{ post.title }}">
    <h1 class="mt-4">{{ post.title }}</h1>
    <a href="{% url 'user' post.user.id %}" class="bg-dark badge badge-dark">{{ post.user }}</a>
    <p class="bg-primary badge badge-primary">{{ post.created }}</p>
    <!-- <p class="bg-success badge badge-success"><i class="fa-regular fa-thumbs-up"></i> {{ likes }}</p> -->
    <hr>
    <p>{{ post.content|convert_to_markdown|safe }}</p>
    <hr>
</div>
{% endblock %}