{% extends '_base.html' %}
{% load news_filters %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header p-4">
            <h2>{{ post.title }}</h2>
            <p class="bg-dark badge badge-dark">{{ post.user }}</p>
            <p class="bg-primary badge badge-primary">{{ post.created }}</p>
        </div>
        <div class="card-body">
            <p>{{ post.content|convert_to_markdown|safe }}</p>
        </div>
        <div class="card-footer">
            Created by <a href="{% url 'user' post.user.id %}">{{ post.user }}</a>
        </div>
    </div>
</div>
{% endblock %}