{% extends '_base.html' %}
{% load static %}

{% block title %}Player Averages{% endblock %}

{% block content %}
<!-- Game details -->
<div class="p-6 mb-6 bg-gray-100 rounded-lg shadow-md">
    <div class="container-fluid py-5">
        <h2 class="text-2xl font-bold text-center mb-4">
            <a href="{% url 'team_page' game.winner.id %}" class="text-lg" style="color: {{ game.winner.color }}">
                {{ game.winner.city }} {{ game.winner.name }} won {{ game.away_team_score }} - {{ game.home_team_score }}
            </a>
        </h2>
        <h1 class="text-4xl font-semibold text-center">
            <a href="{% url 'team_page' game.away_team.id %}" class="text-lg" style="color: {{ game.away_team.color }}">
                {{ game.away_team.city }} {{ game.away_team.name }}
            </a> @
            <a href="{% url 'team_page' game.home_team.id %}" class="text-lg" style="color: {{ game.home_team.color }}">
                {{ game.home_team.city }} {{ game.home_team.name }}
            </a>
        </h1>
    </div>
</div>

<!-- Team statistics -->
<div class="container-fluid p-6 mb-6 bg-white shadow-md rounded-lg">
    <div class="overflow-x-auto">
        <table class="table table-striped table-hover table-bordered w-full">
            <caption class="text-lg font-semibold mb-4">Team Statistics</caption>
            <thead class="bg-gray-200">
                <tr>
                    <th>TEAM</th>
                    <th>PTS</th>
                    <th>REB</th>
                    <th>OREB</th>
                    <th>AST</th>
                    <th>STL</th>
                    <th>BLK</th>
                    <th>TOV</th>
                    <th>FGM</th>
                    <th>FGA</th>
                    <th>3PM</th>
                    <th>3PA</th>
                    <th>FTM</th>
                    <th>FTA</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    {% for game_stats in team_stats %}
                        {% if game_stats.team == game.home_team %}
                            <td><a href="{% url 'team_page' game.home_team.id %}" style="color: {{ game.home_team.color }}">{{ game.home_team.city }} {{ game.home_team.name }}</a></td>
                            <td>{{ game_stats.points }}</td>
                            <td>{{ game_stats.rebounds }}</td>
                            <td>{{ game_stats.offensive_rebounds }}</td>
                            <td>{{ game_stats.assists }}</td>
                            <td>{{ game_stats.steals }}</td>
                            <td>{{ game_stats.blocks }}</td>
                            <td>{{ game_stats.turnovers }}</td>
                            <td>{{ game_stats.field_goals_made }}</td>
                            <td>{{ game_stats.field_goals_attempted }}</td>
                            <td>{{ game_stats.three_pointers_made }}</td>
                            <td>{{ game_stats.three_pointers_attempted }}</td>
                            <td>{{ game_stats.free_throws_made }}</td>
                            <td>{{ game_stats.free_throws_attempted }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr class="text-center">
                    {% for game_stats in team_stats %}
                        {% if game_stats.team == game.away_team %}
                            <td><a href="{% url 'team_page' game.away_team.id %}" style="color: {{ game.away_team.color }}">{{ game.away_team.city }} {{ game.away_team.name }}</a></td>
                            <td>{{ game_stats.points }}</td>
                            <td>{{ game_stats.rebounds }}</td>
                            <td>{{ game_stats.offensive_rebounds }}</td>
                            <td>{{ game_stats.assists }}</td>
                            <td>{{ game_stats.steals }}</td>
                            <td>{{ game_stats.blocks }}</td>
                            <td>{{ game_stats.turnovers }}</td>
                            <td>{{ game_stats.field_goals_made }}</td>
                            <td>{{ game_stats.field_goals_attempted }}</td>
                            <td>{{ game_stats.three_pointers_made }}</td>
                            <td>{{ game_stats.three_pointers_attempted }}</td>
                            <td>{{ game_stats.free_throws_made }}</td>
                            <td>{{ game_stats.free_throws_attempted }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Player statistics -->
<div class="container-fluid p-6 mb-6 bg-white shadow-md rounded-lg">
    <div class="overflow-x-auto">
        <table class="table table-striped table-hover table-bordered w-full">
            <caption class="text-lg font-semibold mb-4">Player Statistics</caption>
            <thead class="bg-gray-200">
                <tr>
                    <th>TEAM</th>
                    <th>GMSC</th>
                    <th>PTS</th>
                    <th>REB</th>
                    <th>OREB</th>
                    <th>AST</th>
                    <th>STL</th>
                    <th>BLK</th>
                    <th>TOV</th>
                    <th>PF</th>
                    <th>FGM</th>
                    <th>FGA</th>
                    <th>3PM</th>
                    <th>3PA</th>
                    <th>FTM</th>
                    <th>FTA</th>
                    <th>DNK</th>
                </tr>
            </thead>
            <tbody>
                <!-- Home team players -->
                <tr class="font-bold text-left" style="color: {{ game.home_team.color }}">
                    <td colspan="17">{{ game.home_team.city }} {{ game.home_team.name }}</td>
                </tr>
                {% for pgame_stats in player_stats %}
                    {% if pgame_stats.team == game.home_team %}
                        <tr>
                            <td><a href="{% url 'player_page' pgame_stats.player.id %}" class="text-blue-500">{{ pgame_stats.player.first_name }} {{ pgame_stats.player.last_name }}</a></td>
                            <td>{{ pgame_stats.game_score }}</td>
                            <td>{{ pgame_stats.points }}</td>
                            <td>{{ pgame_stats.rebounds }}</td>
                            <td>{{ pgame_stats.offensive_rebounds }}</td>
                            <td>{{ pgame_stats.assists }}</td>
                            <td>{{ pgame_stats.steals }}</td>
                            <td>{{ pgame_stats.blocks }}</td>
                            <td>{{ pgame_stats.turnovers }}</td>
                            <td>{{ pgame_stats.personal_fouls }}</td>
                            <td>{{ pgame_stats.field_goals_made }}</td>
                            <td>{{ pgame_stats.field_goals_attempted }}</td>
                            <td>{{ pgame_stats.three_pointers_made }}</td>
                            <td>{{ pgame_stats.three_pointers_attempted }}</td>
                            <td>{{ pgame_stats.free_throws_made }}</td>
                            <td>{{ pgame_stats.free_throws_attempted }}</td>
                            <td>{{ pgame_stats.dunks }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                
                <!-- Away team players -->
                <tr class="font-bold text-left" style="color: {{ game.away_team.color }}">
                    <td colspan="17">{{ game.away_team.city }} {{ game.away_team.name }}</td>
                </tr>
                {% for pgame_stats in player_stats %}
                    {% if pgame_stats.team == game.away_team %}
                        <tr>
                            <td><a href="{% url 'player_page' pgame_stats.player.id %}" class="text-blue-500">{{ pgame_stats.player.first_name }} {{ pgame_stats.player.last_name }}</a></td>
                            <td>{{ pgame_stats.game_score }}</td>
                            <td>{{ pgame_stats.points }}</td>
                            <td>{{ pgame_stats.rebounds }}</td>
                            <td>{{ pgame_stats.offensive_rebounds }}</td>
                            <td>{{ pgame_stats.assists }}</td>
                            <td>{{ pgame_stats.steals }}</td>
                            <td>{{ pgame_stats.blocks }}</td>
                            <td>{{ pgame_stats.turnovers }}</td>
                            <td>{{ pgame_stats.personal_fouls }}</td>
                            <td>{{ pgame_stats.field_goals_made }}</td>
                            <td>{{ pgame_stats.field_goals_attempted }}</td>
                            <td>{{ pgame_stats.three_pointers_made }}</td>
                            <td>{{ pgame_stats.three_pointers_attempted }}</td>
                            <td>{{ pgame_stats.free_throws_made }}</td>
                            <td>{{ pgame_stats.free_throws_attempted }}</td>
                            <td>{{ pgame_stats.dunks }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}
