{% extends '_base.html' %}
{% load static %}

{% block title %}League Averages{% endblock %}

{% block styles %}
<style>
    input::placeholder {
        color: gray!important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mx-auto p-5 dark:bg-gray-900 text-white-100">

    <h1 class="text-3xl text-center font-semibold mb-8"><i class="fa-solid fa-graph-line"></i> League Averages</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

        <!-- Field Goal Percentage -->
        <div class="card bg-base-100 shadow-xl dark:bg-gray-800">
            <div class="card-body">
                <h5 class="card-title text-xl font-semibold capitalize">Field Goal Percentage</h5>
                <p class="text-md text-gray-600">
                    {{ league_averages.totals.total_field_goals_made }}-{{ league_averages.totals.total_field_goals_attempted }}
                </p>
                <h2 class="text-3xl font-bold text-primary text-orange-500">{{ league_averages.field_goal_average }}%</h2>
            </div>
        </div>

        <!-- Three Point Percentage -->
        <div class="card bg-base-100 shadow-xl dark:bg-gray-800">
            <div class="card-body">
                <h5 class="card-title text-xl font-semibold capitalize">Three Point Percentage</h5>
                <p class="text-md text-gray-600">
                    {{ league_averages.totals.total_three_pointers_made }}-{{ league_averages.totals.total_three_pointers_attempted }}
                </p>
                <h2 class="text-3xl font-bold text-primary text-orange-500">{{ league_averages.three_point_average }}%</h2>
            </div>
        </div>

        <!-- Free Throw Percentage -->
        <div class="card bg-base-100 shadow-xl dark:bg-gray-800">
            <div class="card-body">
                <h5 class="card-title text-xl font-semibold capitalize">Free Throw Percentage</h5>
                <p class="text-md text-gray-600">
                    {{ league_averages.totals.total_free_throws_made }}-{{ league_averages.totals.total_free_throws_attempted }}
                </p>
                <h2 class="text-3xl font-bold text-primary text-orange-500">{{ league_averages.free_throw_average }}%</h2>
            </div>
        </div>

    </div>

</div>
{% endblock %}

{% block scripts %}
{% endblock %}
