{% extends '_base.html' %}
{% load static %}

{% block title %}League Averages{% endblock %}

{% block styles %}
<style>
    input::placeholder {
        color: gray!important;
    }
</style>
{% endblock %}

{% block content %}

<div class="container-fluid p-md-5">

    <h1 class="text-center"><i class="fa-solid fa-graph-line"></i> League Averages</h1>
    <div class="row mt-4">
        {% comment %} Field goal percentage {% endcomment %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title" style="text-transform: capitalize;">Field Goal Percentage</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ league_averages.totals.total_field_goals_made }}-{{ league_averages.totals.total_field_goals_attempted }}</h6>
                    <h2 class="card-text text-primary">{{ league_averages.field_goal_average }}%</h2>
                </div>
            </div>
        </div>
        {% comment %} Three point percentage {% endcomment %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title" style="text-transform: capitalize;">Three Point Percentage</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ league_averages.totals.total_three_pointers_made }}-{{ league_averages.totals.total_three_pointers_attempted }}</h6>
                    <h2 class="card-text text-primary">{{ league_averages.three_point_average }}%</h2>
                </div>
            </div>
        </div>
        {% comment %} Free throw percentage {% endcomment %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title" style="text-transform: capitalize;">Free Throw Percentage</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ league_averages.totals.total_free_throws_made }}-{{ league_averages.totals.total_free_throws_attempted }}</h6>
                    <h2 class="card-text text-primary">{{ league_averages.free_throw_average }}%</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
{% endblock %}