{% extends '_base.html' %}
{% load static %}

{% block title %}Players{% endblock %}

{% block styles %}
<style>
    input::placeholder {
        color: gray!important;
    }
</style>
{% endblock %}

{% block content %}

<div class="container-fluid p-md-5">
    <h1><i class="fa-brands fa-cc-visa"></i> Player of the Week</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover mt-2">
            <thead>
                <tr>
                    <th>WEEK</th>
                    <th>TEAM</th>
                    <th>PLAYER</th>
                    <th>GMSC</th>
                    <th>PTS</th>
                    <th>AST</th>
                    <th>REB</th>
                    <th>STL</th>
                    <th>BLK</th>
                    <th>TOV</th>
                    <th>FGM</th>
                    <th>FGA</th>
                    <th>3PM</th>
                    <th>3PA</th>
                    <th>FTM</th>
                    <th>FTA</th>
                    <th>OREB</th>
                    <th>DREB</th>
                    <th>PF</th>
                    <th>+/-</th>
                    <th>PRF</th>
                </tr>
            </thead>
            <tbody>
                {% for week, data in performances.items %}
                {% if data.best and data.worst %}
                <tr>
                    <td>Week {{ data.week }}</td>
                    <td>{{ data.best.team.city }} {{ data.best.team.name }}</td>
                    <td>{{ data.best.player.first_name }} {{ data.best.player.last_name }}</td>
                    <td>{{ data.best.game_score }}</td>
                    <td>{{ data.best.points }}</td>
                    <td>{{ data.best.assists }}</td>
                    <td>{{ data.best.rebounds }}</td>
                    <td>{{ data.best.steals }}</td>
                    <td>{{ data.best.blocks }}</td>
                    <td>{{ data.best.turnovers }}</td>
                    <td>{{ data.best.field_goals_made }}</td>
                    <td>{{ data.best.field_goals_attempted }}</td>
                    <td>{{ data.best.three_pointers_made }}</td>
                    <td>{{ data.best.three_pointers_attempted }}</td>
                    <td>{{ data.best.free_throws_made }}</td>
                    <td>{{ data.best.free_throws_attempted }}</td>
                    <td>{{ data.best.offensive_rebounds }}</td>
                    <td>{{ data.best.defensive_rebounds }}</td>
                    <td>{{ data.best.personal_fouls }}</td>
                    <td>{{ data.best.plus_minus }}</td>
                    <td>{{ data.best.points_responsible_for }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h1><i class="fa-brands fa-accessible-icon"></i> Loser of the Week</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover mt-2">
            <thead>
                <tr>
                    <th>WEEK</th>
                    <th>TEAM</th>
                    <th>PLAYER</th>
                    <th>GMSC</th>
                    <th>PTS</th>
                    <th>AST</th>
                    <th>REB</th>
                    <th>STL</th>
                    <th>BLK</th>
                    <th>TOV</th>
                    <th>FGM</th>
                    <th>FGA</th>
                    <th>3PM</th>
                    <th>3PA</th>
                    <th>FTM</th>
                    <th>FTA</th>
                    <th>OREB</th>
                    <th>DREB</th>
                    <th>PF</th>
                    <th>+/-</th>
                    <th>PRF</th>
                </tr>
            </thead>
            <tbody>
                {% for week, data in performances.items %}
                {% if data.worst and data.worst %}
                <tr>
                    <td>Week {{ data.week }}</td>
                    <td>{{ data.worst.team.city }} {{ data.worst.team.name }}</td>
                    <td>{{ data.worst.player.first_name }} {{ data.worst.player.last_name }}</td>
                    <td>{{ data.worst.game_score }}</td>
                    <td>{{ data.worst.points }}</td>
                    <td>{{ data.worst.assists }}</td>
                    <td>{{ data.worst.rebounds }}</td>
                    <td>{{ data.worst.steals }}</td>
                    <td>{{ data.worst.blocks }}</td>
                    <td>{{ data.worst.turnovers }}</td>
                    <td>{{ data.worst.field_goals_made }}</td>
                    <td>{{ data.worst.field_goals_attempted }}</td>
                    <td>{{ data.worst.three_pointers_made }}</td>
                    <td>{{ data.worst.three_pointers_attempted }}</td>
                    <td>{{ data.worst.free_throws_made }}</td>
                    <td>{{ data.worst.free_throws_attempted }}</td>
                    <td>{{ data.worst.offensive_rebounds }}</td>
                    <td>{{ data.worst.defensive_rebounds }}</td>
                    <td>{{ data.worst.personal_fouls }}</td>
                    <td>{{ data.worst.plus_minus }}</td>
                    <td>{{ data.worst.points_responsible_for }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}

{% block scripts %}
{% endblock %}