{% extends '_base.html' %}
{% load static %}

{% block title %}Statistics{% endblock %}

{% block styles %}
<style>
    input::placeholder {
        color: gray!important;
    }
</style>
{% endblock %}

{% block content %}

<div id="title-content">

    {% comment %} Title & season selector {% endcomment %}
    <div class="flex items-center p-5">
        <h1 class="text-3xl font-semibold text-white-800">Home</h1>
        <div class="relative ml-5 w-32">
            <form>
                {% csrf_token %}
                <select 
                    id="season-selector"
                    name="season" 
                    class="select-sm select-bordered select w-full max-w-xs"
                    hx-get="{% url 'htmx_change_season' %}"
                    hx-target="#season-content"
                    hx-swap="innerHTML"
                    hx-trigger="change">
                    {% for season in seasons %}
                    {% if forloop.counter == 1 %}
                    <option selected value="{{ season.season }}">{{ season }}</option>
                    {% else %}
                    <option value="{{ season.season }}">{{ season }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
    <hr class="border-gray-400">

</div>

{% comment %} Season content container (htmx will change this) {% endcomment %}
<div id="season-content" class="mt-5">
    {% include 'stats/fragments/season_fragment.html' %}
</div>

{% endblock %}

{% block scripts %}
{% comment %} <script>
    $(document).ready( function () {
        $('#standings-table').DataTable({
            paging: false,
            scrollY: false,
            scrollX: false,
            searching: false,
        });
    });
</script> {% endcomment %}
{% endblock %}
