{% extends '_base.html' %}
{% load static %}

{% block title %}Statistics{% endblock %}

{% block styles %}
<style>
    input::placeholder {
        color: gray!important;
    }
</style>
{% endblock %}

{% block content %}

<div id="title-content">

    {% comment %} Title & season selector {% endcomment %}
    <div class="flex items-center p-5">
        <h1 class="text-3xl font-semibold text-white-800">Home</h1>
        <div class="relative ml-5 w-32">
            <select id="season-selector" class="select-sm select-bordered select w-full max-w-xs">
                {% for season in seasons %}
                {% if forloop.counter == 1 %}
                <option selected value="{{ season }}">{{ season }}</option>
                {% else %}
                <option value="{{ season }}">{{ season }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <hr class="border-gray-400">

</div>

{% comment %} Season content container (htmx will change this) {% endcomment %}
<div id="season-content" class="mt-5">

    {% comment %} Standings {% endcomment %}
    <div id="standings-content" class="mt-5">
        {% comment %} Standings banner {% endcomment %}
        <h2 class="px-4 py-2 text-lg font-semibold text-base border border-gray-600 border-l-4 border-teal-800">
            Standings
        </h2>        
        {% comment %} Standings list {% endcomment %}
        <section>
            <div class="overflow-x-auto shadow-lg rounded-lg">
                <table id="standings-table" class="table-auto w-full border-collapse">
                    <thead>
                        <tr class="text-white-700">
                            <th class="px-4 py-2 text-left">Rank</th>
                            <th class="px-4 py-2 text-left">Team</th>
                            <th class="px-4 py-2 text-center">Games</th>
                            <th class="px-4 py-2 text-center">Wins</th>
                            <th class="px-4 py-2 text-center">Losses</th>
                            <th class="px-4 py-2 text-center">Differential</th>
                            {% comment %} <th class="px-4 py-2 text-center">Tiebreakers</th> {% endcomment %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for team, data in standings.items %}
                        <tr>
                            <td class="px-4 py-2">{{ forloop.counter }}</td>
                            <td class="px-4 py-2">{{ data.team.city }} {{ data.team.name }}</td>
                            <td class="px-4 py-2 text-center">{{ data.season_stats.games_played }}</td>
                            <td class="px-4 py-2 text-center">{{ data.season_stats.wins }}</td>
                            <td class="px-4 py-2 text-center">{{ data.season_stats.losses }}</td>
                            <td class="px-4 py-2 text-center">{{ data.season_stats.point_differential }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    {% comment %} League leaders banner & information {% endcomment %}

    {% comment %} Recent games banner & information {% endcomment %}

</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready( function () {
        $('#standings-table').DataTable({
            paging: false,
            scrollY: false,
            scrollX: false,
            searching: false,
        });
    });
</script>
{% endblock %}
