{% extends '_base.html' %}
{% load static %}
{% block content %}
    <!-- List all events -->
    <div class="container">
        <div class="container">
            <div class="row">
                <h1>Events List</h1>
                <div class="col-md-12 mt-3">
                    {% if events.count == 0 %}
                        <p>😮 It looks like we're not running any events at this time, check again later!</p>
                    {% endif %}
                    {% for event in events %}
                        <div class="card">
                            <div class="card-header">
                                <h3>{{ event.title }}</h3>
                            </div>
                            <div class="card-body">
                                <!-- Create a badge for each -->
                                {% if event.rookies_allowed %}
                                    <span class="badge bg-info badge-primary">Rookies Allowed</span>
                                {% endif %}
                                {% if event.free_agents_allowed %}
                                    <span class="badge bg-info badge-primary">Free Agents Allowed</span>
                                {% endif %}
                                {% if event.active_players_allowed %}
                                    <span class="badge bg-info badge-primary">Active Players Allowed</span>
                                {% endif %}
                                {% if event.use_spent_limit %}
                                    <span class="badge bg-info badge-primary"><= {{ event.spent_limit }}SP</span>
                                {% endif %}
                                <hr>
                                <p>{{ event.description }}</p>
                                <p id="join-event-status"></p>
                                <hr>
                                <a href="{% url 'view_event' event.id %}" class="btn btn-info btn-sm text-white">Join event</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}