{% extends '_base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1>{{ event.title }}</h1>
                <p>{{ event.description }}</p>
                <p id="join-event-status"></p>
                {% if event.rookies_allowed %}
                    <span class="badge bg-info badge-primary">Rookies Allowed</span>
                {% endif %}
                {% if event.free_agents_allowed %}
                    <span class="badge bg-info badge-primary">Free Agents Allowed</span>
                {% endif %}
                {% if event.active_players_allowed %}
                    <span class="badge bg-info badge-primary">Active Players Allowed</span>
                {% endif %}
                {% if event.use_spent_limit %}
                    <span class="badge bg-info badge-primary"><= ${{ event.spent_limit }}</span>
                {% endif %}
                <span class="badge bg-info badge-primary">{{ entry_count }}/{{ event.max_entries }}</span>
                <hr>
                <form>
                    {% csrf_token %}
                    <input type="hidden" name="event_id" value="{{ event.id }}">
                    <select class="form-select mb-2" name="id" style="max-width: fit-content;">
                        {% for player in players %}
                            <option value="{{ player.id }}">(${{ player.sp_spent }}) {{ player.first_name }} {{ player.last_name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-info btn-sm" hx-target="#join-event-status" hx-trigger="click" hx-swap="innerHTML" hx-post="{% url 'add_entry' %}">Join event</button>
                </form>
                <hr>
                <h2>Entry</h2>
                {% for entry in entries %}
                    <div class="mb-2">
                        <a href="{% url 'player_page' entry.player.id %}" class="text-decoration-none text-underline" id="{{ entry.player.id }}">{{ entry.player.sp_spent }} SP, {{ entry.player.position }}, {{ entry.player.first_name }} {{ entry.player.last_name }}</a><br>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}